/* ========================
  BUTTONS
========================== */

/* BUTTON MIXINS
------------------ */

///mixin - button
@mixin button{
	background-image: none;
	background-color: $buttonBack;
	border: none;
	color: $buttonText;
	line-height: 1.15;
	padding: 1.15rem 1.5rem 1rem;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .04em;
	font-family: $headerFont;
	font-weight: $xHeavy;
	font-size: $button;
	margin-bottom: $spaceMd;
	margin-left: 0;
	margin-right: 0;
	&:hover,&:focus {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		box-shadow: none;
		@include transAll(.3s);
		outline: none;
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 1px solid $outlineColor;
	color: $outlineColor;
	border-radius: 3px;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
		border-color: $buttonBackHover;
		@include transAll(.3s);
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
		border-color: $buttonBackActive;
	}
}

@mixin submitButton{
	@include button;
	background: $submitBack;
	color: $submitText;
	height: auto;
	min-width: 115px;
	margin-top: 0;
	&:hover,&:focus{
		background: $submitBackHover;
		border-color: $submitBackHover;
		color: $submitTextHover;
	}
}

@mixin resetButton{
	@include button;
	background: $resetBack;
	color: $resetText;
	border-color: $resetBack;
	height: auto;
	min-width: 115px;
	margin-top: 0;
	&:hover,&:focus{
		background: $resetBackHover;
		border-color: $resetBackHover;
		color: $resetTextHover;
	}
}

@mixin cautionButton{
	@include button;
	background: $cautionBack;
	color: $cautionText;
	border-color: $cautionBack;
	height: auto;
	min-width: 115px;
	margin-top: 0;
	&:hover,&:focus{
		background: $cautionBackHover;
		border-color: $cautionBackHover;
		color: $cautionTextHover;
	}
}

@mixin dropbuttonWrapper{
	li.secondary-action{
		border-top: 1px solid $midBlue;
	}
	a{
		color: $darkBlue;
		padding: 8px 10px 8px 30px;
		border-right: 1px solid $midBlue;
		text-decoration: none;
		background: $blueGrey;
		font-family: $headerFont;
		text-transform: uppercase;
		font-weight: $xHeavy;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
	}
	button{
		background: $blueGrey;
		color: $darkBlue;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
		.dropbutton-arrow{
			font-size: 16px;
			@include calc(right, "50% - 5px");
		}
	}//end button (single)
	//.js .dropbutton-multiple.open .dropbutton-action:last-child a, .js .dropbutton-multiple.open .dropbutton-action:last-child .button
	&.dropbutton-multiple{
		&.open{
			.dropbutton-action:last-child{
				a,.button{
					border-radius: 0;
				}
			}
		}
		.dropbutton-widget{
			border: none;
		}
	}//end drop burron multiple
}//end dropbutton widget

//button class
.adminimal.crane{
	.button.js-hide{
		display: none;
	}
	.button--small{
		@include outlineButton($link);
		background: transparent;
		border: 1px solid $primaryButtonBack;
		color: $baseText;
		font-weight: $regular;
		font-size: 1.2rem;
		border-radius: 2px;
		&.button--small-override{
			font-size: 1.8rem;
			border-width: 2px;
			font-weight: $heavy;
			margin-bottom: $spaceSm;
			border-radius: 4px;
		}
		&:hover,&:focus{
			background: $buttonBackHover;
			border-color: $buttonBackHover;
			color: $buttonTextHover;
			@include transAll(.3s);
		}
		&:active{
			background: $buttonBackActive;
			border-color: $buttonBackActive;
			color: $buttonTextActive;
		}
	}//end button--small
	.button--danger,#edit-reset{
		@include resetButton;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		@include smallTab{
			width: auto;
		}
	}//end reset danger buttons
	.button[data-drupal-selector="edit-cancel"],.button[data-drupal-selector="edit-actions-cancel"]{
		@include cautionButton;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		@include smallTab{
			width: auto;
		}
	}//end reset danger buttons
	#edit-preview{
		@include submitButton;
		background: $green;
		&:hover,&:focus{
			background: $buttonBackHover;
		}
		&:active{
			background: $buttonBackActive;
		}
	}//end preview
	.button--primary {
		@include button;
		background: $primaryButtonBack;
		color: $primaryButtonText;
		&:hover,&:focus{
			background: $primaryBackHover;
			color: $primaryTextHover;
		}
		&:active{
			background: $primaryBackActive;
			color: $primaryTextActive;
		}
		&.button--small{
			@extend .button--small;
		}
	}//end button primary
	.button-outline{
		@include outlineButton($link);
	}
}//end adminimal crane

/* PARAGRAPHS ICON BUTTONS
---------------------------- */
.button.paragraphs-icon-button{
	font-size: 1.6rem;
	@include tab{
		background-image: none;
		background: $buttonBack;
		color: $buttonText;
		&:hover,&:focus{
			border-color: $buttonBackHover;
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
	}
}//end apragraphs icon button
.button.paragraphs-dropdown-action{
	font-size: 1.4rem;
	padding: 10px 1.5em;
	&:hover,&:focus{
		background: $buttonBackHover;
	}
	&:not(:last-child){
		border-bottom: 1px solid $borderRule;
	}
}
.paragraphs-dropdown-actions{
	border-radius: 0;
	top: 45px;
	@include tab{
		top: 40px;
	}
}

/* PARAGRAPH ADD BUTTONS
-------------------------- */
.paragraphs-tabs-wrapper{
	.clearfix{
		 & > .paragraph-button{
		 	 @extend .button--small;
		 }
	}
}

