/* ========================
  BUTTONS
========================== */

///mixin - button
@mixin button{
	background-image: none;
	background-color: $buttonBack;
	border: none;
	color: $buttonText;
	line-height: 1.15;
	padding: 1.15rem 1.5rem;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	letter-spacing: .02em;
	font-family: $bodyFont;
	font-weight: $heavy;
	font-size: $button;
	margin-bottom: $spaceMd;
	margin-left: 0;
	margin-right: 0;
	&:hover,&:focus {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		box-shadow: none;
		border: none;
		@include transAll(.3s);
		outline: none;
	}
	&:active{
		box-shadow: none;
		border: none;
		color: $buttonTextActive;
		background-color: $buttonBackActive;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 1px solid $outlineColor;
	color: $outlineColor;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
		border-color: $buttonBackHover;
		@include transAll(.3s);
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
		border-color: $buttonBackActive;
	}
}

@mixin submitButton{
	@include button;
	background: $submitBack;
	color: $submitText;
	min-width: 120px;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
	}
}

@mixin resetButton{
	@include submitButton;
	background: $resetBack;
	color: $resetText;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
	}
}

@mixin cautionButton{
	@include submitButton;
	background: $cautionBack;
	color: $cautionText;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
	}
}

%dropbutton{
	input,.button,a,button{
		border-radius: 0 !important;
		box-shadow: none;
		background: $siteBack;
		text-shadow: none;
		border-color: $borderRule;
		font-size: 1.4rem;
		&:hover,&:focus{
			background-color: $offWhite !important;
			background-image: none !important;
			border-radius: 0 !important;
			box-shadow: none;
		}
		&:active{
			background: $lightGrey;
			border-radius: 0;
			box-shadow: none;
		}
	}
}

.crane{
	.button{
		@include button;
	}

	.button.js-hide{
		display: none;
	}

	.button--small{
		@include outlineButton($borderRule);
		background: $siteBack;
		color: $link;
		font-weight: $regular;
		font-size: 1.2rem;
		margin-bottom: 0;
		padding-top: .75rem;
		padding-bottom: .75rem;
		border-radius: 0;
		&.button--small-override{
			font-size: 2rem;
			font-weight: $heavy;
			margin-bottom: $spaceSm;
			padding-left: 3rem;
			padding-right: 3rem;
			border-radius: 0;
			&:hover,&:focus{
				background: $buttonBackHover;
				color: $buttonTextHover;
				border: 1px solid $buttonBackHover;
				@include transAll(.3s);
			}
			&:active{
				background: $buttonBackActive;
				color: $buttonTextActive;
				border: 1px solid $buttonBackActive;
			}
		}
		&:hover,&:focus{
			background: $buttonBackHover;
			border-color: $buttonBackHover;
			border: 1px solid $buttonBackHover;
			color: $buttonTextHover;
			@include transAll(.3s);
		}
		&:active{
			background: $buttonBackActive;
			border-color: $buttonBackActive;
			color: $buttonTextActive;
			border: 1px solid $buttonBackHover;
		}
	}//end button--small

	.button--primary {
		@include button;
		background: $primaryButtonBack;
		color: $primaryButtonText;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
		&.button--small{
			@extend .button--small;
		}
	}//end button primary

	.form-submit{
		@include submitButton;
	}

	.button--danger,#edit-reset,a.button--danger,.button[value="Remove"],.button[value="Delete"],.button[value="Reset to alphabetical"]{
		@include resetButton;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		@include smallTab{
			width: auto;
		}
	}//end reset danger buttons
	.button[data-drupal-selector="edit-cancel"],.button[data-drupal-selector="edit-actions-cancel"]{
		@include cautionButton;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		@include smallTab{
			width: auto;
		}
	}//end reset danger buttons
	#edit-cancel{
		margin-left: 0;
	}
	a#edit-ec-preview,{
		@include submitButton;
		background: $green;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
	}//end preview
	.button-outline{
		@include outlineButton($link);
	}
	.draggable:not([class*="paragraph"]) td{
		.form-submit{
			@extend .button--small;
			padding: .75rem 1rem;
			min-width: 80px;
			margin-bottom: 0;
			&[value="Cancel"]{
				background: $resetBack;
				color: $resetText;
				border-color: $resetBack;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
					border-color: $buttonBackHover;
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
					border-color: $buttonBackActive;
				}
			}
		}//end form submit
	}//end draggable td
	.image-button,.draggable:not([class*="paragraph"]) td .form-submit.image-button{
		min-width: 20px;
		border: 0;
		&:hover,&:focus,&:active{
			background: transparent;
			border: 0;
			opacity: .6;
		}
	} 
}//end crane



/* FAKE BUTTONS
------------------ */
.button-fake-preview{
	background-color: $buttonBack;
	color: $buttonText;
	padding: .1rem 1rem .05rem;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-family: $bodyFont;
	font-weight: $heavy;
	font-size: 1.4rem;
}

/* DROPBUTTONS
------------- */
//dropbuttons
.js{
	.dropbutton-multiple,.dropbutton-wrapper,.dropbutton-single{
		.dropbutton-widget{
			border-radius: 0;
			text-shadow: none;
			background: $siteBack;
			border-color: $borderRule;
			.dropbutton-action,.dropbutton-toggle{
				@extend %dropbutton;
			}
		}//end dropbutton widget
		.dropbutton-action{
			@extend %dropbutton;
		}
	}//end dropbutton
	.views-edit-view{
		.dropbutton-multiple,.dropbutton-wrapper,.dropbutton-single{
			.dropbutton-widget{
				border-radius: 0;
				text-shadow: none;
				background: $siteBack;
				border-color: $borderRule;
				.dropbutton-action,.dropbutton-toggle{
					@extend %dropbutton;
				}
			}//end dropbutton widget
			.dropbutton-action{
				@extend %dropbutton;
			}
		}//end dropbutton
	}
}//end js
