/* ========================
  BUTTONS
========================== */

/* BUTTON MIXINS
------------------ */

///mixin - button
@mixin button{
	background-image: none;
	background-color: $buttonBack;
	border: none;
	color: $buttonText;
	line-height: 1.15;
	padding: .75rem 1.5rem;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .04em;
	font-family: $headerFont;
	font-weight: $heavy;
	font-size: $button;
	margin-bottom: $spaceMd;
	&:hover,&:focus {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		box-shadow: none;
		@include transAll(.3s);
		outline: none;
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 1px solid $outlineColor;
	color: $outlineColor;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
		border-color: $buttonBackHover;
		@include transAll(.3s);
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
		border-color: $buttonBackActive;
	}
}

@mixin submitButton{
	@include button;
	background: $submitBack;
	color: $submitText;
	height: auto;
	min-width: 115px;
	&:hover,&:focus{
		background: $submitBackHover;
		border-color: $submitBackHover;
		color: $submitTextHover;
	}
}

@mixin resetButton{
	@include button;
	background: $resetBack;
	color: $resetText;
	border-color: $resetBack;
	height: auto;
	min-width: 115px;
	&:hover,&:focus{
		background: $resetBackHover;
		border-color: $resetBackHover;
		color: $resetTextHover;
	}
}

//button class
.adminimal.crane .button {
	@include button;
	&.js-hide{
		display: none;
	}
	&.button--small{
		background: transparent;
		border: 1px solid $primaryButtonBack;
		color: $baseText;
		font-weight: $regular;
		font-size: 1.2rem;
		border-radius: 2px;
		&.button--small-override{
			font-size: 1.8rem;
			border-width: 2px;
			font-weight: $heavy;
			margin-bottom: $spaceSm;
			border-radius: 4px;
		}
		&:hover,&:focus{
			background: $buttonBackHover;
			border-color: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			border-color: $buttonBackActive;
			color: $buttonTextActive;
		}
	}
	&[data-drupal-selector="edit-cancel"],&.button--danger,&[data-drupal-selector="edit-actions-cancel"]{
		@include resetButton;
	}
}
.adminimal.crane .button--primary {
	@include button;
	padding: .85rem 1.5rem .75rem;
	background: $primaryButtonBack;
	color: $primaryButtonText;
	&:hover,&:focus{
		background: $primaryBackHover;
		color: $primaryTextHover;
	}
	&:active{
		background: $primaryBackActive;
		color: $primaryTextActive;
	}
}

//outlineButtons
.adminimal.crane .button-outline{
	@include outlineButton($link);
}
