/* ========================
  NODE PREVIEW
========================== */

/* MODAL NODE PREVIEW */
body.logged-in.responsive-preview-frame{
	.dialog-off-canvas-main-canvas{
		padding-left: 0;
	}
	.layout-container{
		& > header,& > footer{
			display: none;
		}
		#block-quicklinks,#block-crane-front-messages{
			display: none;
		}
	}
}//end modal iframe

/* GENERAL NODES */
.path-node{
	.overflow-guard{
		& > .dialog-off-canvas-main-canvas{
			padding-left: 0 !important;
		}
		footer{
			display: none;
		}
	}
	&:not(.node-type-support-book){
		.text-long,.text-with-summary{
			a{
				pointer-events: none;
			}
		}
	}
	.field-caption{
		font-size: 1.6rem;
		color: $midGrey;
		font-style: italic;
		margin-top: $spaceXs;
		text-align: center;
		max-width: $textMax;
		@include auto;
	}
	img{
		width: 100%;
		height: auto;
		display: block;
	}
	.field-restricted{
		display: none;
	}
}//end node path

/* BASIC PAGES 
----------------- */
.content-type-page{
	/* header */
	.field-header.entity-reference-revisions{
		@include auto;
		max-width: $textMax;
		margin-bottom: $spaceLg;
		text-align: center;
		.field-title{
			@include heading1;
			position: relative;
			padding-bottom: $spaceMd;
			margin-bottom: $spaceMd;
			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: calc(50% - 55px);
				background: $link;
				width: 110px;
				height: 7px;
				margin: 0 auto;
			}
		}//end title
		.field-subheader{
			@include heading2;
			font-weight: normal;
		}
	}//end header
	.field-prefooter-image{
		margin-left: -2rem;
		margin-right: -2rem;
		padding-bottom: 50px;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 50px;
			width: 100%;
			@include gradient('top', $greenTrans6, $greenLight);
		}
		@include tab{
			margin-left: -3.5rem;
			margin-right: -3.5rem;
		}
		.field-media-image{
			height: 240px;
			overflow: hidden;
			img{
				object-fit: cover;
				object-position: center center;
				height: 100%;
			}
			@include tab{
				height: 312px;
			}
			@include desk{
				height: 372px;
			}
		}
	}
} //end basic page




