/* ========================
  NODE PREVIEW
========================== */

$pvBlue: #1155cc;
$greenLight: #99cdbb;
$greenTrans6: rgba(35,156,74,.6);
$pvGreyLight: #eeeeee;
$pvGreyMid: #979797;
$pvGreyDark: #646569;

@mixin pvButton{
	background: $pvBlue;
	display: block;
	line-height: 1;
	color: $white;
	text-transform: uppercase;
	padding: 20px 35px;
	font-weight: 900;
	font-family: $bodyFont;
	font-size: 1.8rem;
	pointer-events: none;
	text-decoration: none;
}

// define a background gradient with direct, start color and stop color
@mixin gradient($grad-direction,$grad-start,$grad-stop) {
	background: -moz-linear-gradient($grad-direction, $grad-start 0%,$grad-stop 100%); /* FF3.6+ */
	background: -webkit-linear-gradient($grad-direction, $grad-start 0%,$grad-stop 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($grad-direction, $grad-start 0%,$grad-stop 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient($grad-direction, $grad-start 0%,$grad-stop 100%); /* IE10+ */
	@if $grad-direction == 'top'{
		background: linear-gradient(to bottom, $grad-start 0%,$grad-stop 100%); /* W3C */
	}@else if $grad-direction == 'bottom'{
		background: linear-gradient(to top, $grad-start 0%,$grad-stop 100%); /* W3C */
	}@else if $grad-direction == 'left'{
		background: linear-gradient(to right, $grad-start 0%,$grad-stop 100%); /* W3C */
	}@else if $grad-direction == 'right'{
		background: linear-gradient(to left, $grad-start 0%,$grad-stop 100%); /* W3C */
	}

}

/* MODAL NODE PREVIEW */
body.logged-in.responsive-preview-frame{
	.dialog-off-canvas-main-canvas{
		padding-left: 0;
	}
	.layout-container{
		& > header,& > footer{
			display: none;
		}
		#block-quicklinks,#block-crane-front-messages{
			display: none;
		}
	}
}//end modal iframe

/* GENERAL NODES */
.path-node{
	.overflow-guard{
		& > .dialog-off-canvas-main-canvas{
			padding-left: 0 !important;
		}
		footer{
			display: none;
		}
	}
	.text-long,.text-with-summary{
		a{
			pointer-events: none;
		}
	}
	.field-caption{
		font-size: 1.6rem;
		color: $pvGreyDark;
		font-style: italic;
		margin-top: $spaceXs;
		text-align: center;
		max-width: $textMax;
		@include auto;
	}
	img{
		width: 100%;
		height: auto;
		display: block;
	}
	.field-restricted{
		display: none;
	}
}//end node path

/* BASIC PAGES 
----------------- */
.content-type-page{
	/* header */
	.field-header.entity-reference-revisions{
		@include auto;
		max-width: $textMax;
		margin-bottom: $spaceLg;
		text-align: center;
		.field-title{
			@include heading1;
			position: relative;
			padding-bottom: $spaceMd;
			margin-bottom: $spaceMd;
			&:after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: calc(50% - 55px);
				background: $pvBlue;
				width: 110px;
				height: 7px;
				margin: 0 auto;
			}
		}//end title
		.field-subheader{
			@include heading2;
			font-weight: normal;
		}
	}//end header
	.field-prefooter-image{
		margin-left: -2rem;
		margin-right: -2rem;
		padding-bottom: 50px;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 50px;
			width: 100%;
			@include gradient('top', $greenTrans6, $greenLight);
		}
		@include tab{
			margin-left: -3.5rem;
			margin-right: -3.5rem;
		}
		.field-media-image{
			height: 240px;
			overflow: hidden;
			img{
				object-fit: cover;
				object-position: center center;
				height: 100%;
			}
			@include tab{
				height: 312px;
			}
			@include desk{
				height: 372px;
			}
		}
	}
} //end basic page

/* PARAGRAPHS */
.field-content.entity-reference-revisions{
	padding-bottom: $spaceLg;
	& > div > .paragraph{
		margin-bottom: $spaceLg;
		& > .field-header{
			@include heading3;
			text-align: center;
			max-width: $textMax;
			@include auto;
			margin-bottom: $spaceXs;
		}
	}
}//end global paragraphs

.paragraph--type--accordion-group{
	max-width: $textMax;
	@include auto;
	.field-accordions{
		margoin-bottom: -$spaceSm;
		.field-accordion-header{
			@include heading4;
			color: $pvBlue;
			margin-bottom: $spaceSm;
		}
		.field-text{
			display: none;
		}
	}
}//end accordion group

.paragraph--type--button{
	max-width: $textMax;
	@include auto;
	.field-buttons{
		@include safeFlex(row,wrap,center,start);
		@include bleed(padding,1rem);
		margin-bottom: -2rem;
		& > div{
			margin-bottom: 2rem;
			a{
				@include pvButton;
			}
		}
	}
}//end button

.paragraph--type--horizontal-rule{
	max-width: $textMax;
	@include auto;
	border-top: 1px solid $pvGreyMid;
}//end hr

.paragraph--type--image{
	max-width: $previewStop;
	@include auto;
}//end image

.paragraph--type--text{
	max-width: $textMax;
	@include auto;
}//end text

.paragraph--type--react-component{
	max-width: $previewStop;
	@include auto;
	.preview-disclaimer{
		@include safeFlex(column,nowrap,center,center);
		padding: 4rem 6rem;
		min-height: 150px;
		background: $pvGreyLight;
		& > div{
			font-size: 2rem;
			margin-bottom: $spaceSm;
		}
		.field-components{
			display: inline;
		}
	}
}

.paragraph--type--text-with-image{
	max-width: $previewStop;
	@include auto;
	.ti-wrapper{
		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,30px);
		.img-wrapper{
			width: 100%;
			margin-bottom: $spaceSm;
			@include tab{
				margin-bottom: 0;
				width: 50%;
				&.right{
					@include safeFlexOrder(2);
				}
			}
		}//end image wrapper
		.field-text{
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			@include tab{
				width: 50%;
			}
		}
	}//end ti-wrapper
}//end text-with image

.paragraph--type--video{
	max-width: $previewStop;
	@include auto;
	.field-media-oembed-video{
		position: relative;
		padding-bottom: 56.25%;
		iframe{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}//end video



