/* ========================
  USER DASHBOARD
========================== */

.user-dashboard{
	.layout--twocol-sideleft-tabs{
		max-width: 1840px;
	}
	.layout__region--first{
		@include tab{
			background: $white;
			position: fixed;
			top: 0;
			left: 80px;
			height: 100vh;
			z-index: 496;
			width: 200px;
			border-right: 1px solid $grey;
			padding-top: 95px;
			box-shadow: 0 3px 8px rgba(35,35,35,0.15);
			.role-administrator &{
				padding-top: 170px;
			}
			@include contentStop{
				width: 230px;
			}
		}
	}//end layout region first
	.layout__region--tabs{
		@include tab{
			padding-top: 6rem !important;
		}
		& > *{
			@include tab{
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}//end user-dashboard

/* PROFILE INFORMATION
------------------------- */
.block-field-blockuseruseruid{
	max-width: 220px;
	width: 100%;
	@include auto;
	.user-image{
		width: 80%;
		padding-bottom: 80%;
		border-radius: 50%;
		margin: 0 auto $spaceXs;
	}
}//user image

.block-field-blockuserusername{
	margin-bottom: $spaceSm;
	text-align: center;
	h1{
		font-size: $h1Sm;
	}
}

.block-field-blockuserusercreated{
	margin-bottom: 0;
	@include onlySmall{
		border-bottom: 1px solid $borderRule;
		text-align: center;
	}
	.user-created{
		margin-bottom: $spaceXs;
	}
	.user-roles{
		margin-bottom: $elementSpace;
		span.role:not(:last-child){
			margin-right: .7rem;
			position: relative;
			padding-right: 1rem;
			&:after{
				@include vertRule(right,80%,$borderRule);
			}
		}
	}
	.edit-link{
		text-align: center;
	}
}//end created


/* CONTENT VIEWS
-------------------- */
.views-block.block-user-dashboard{
	h2.block-title{
		margin-bottom: .5em;
	}
	.view-content{
		@include tab{
			@include safeFlex(row,wrap,justify,stretch);
		}
	}
	.views-row{
		width: 48.5%;
	}
}//end views block

