/* ========================
  USER DASHBOARD
========================== */

.user-dashboard{
	.layout--tabs{
		max-width: 1840px;
	}
}//end user-dashboard

/* TOUR 
------------ */
.user-tour{
	@include onlySmall{
		display: none important;
	}
	display: none;
	position: fixed;
	top: 12vh;
	right: 20px;
	z-index: 999;
	overflow: hidden;
	width: 300px;
	background: $lightGrey;
	border: 2px solid $gold;
	border-right-width: 3px;
	padding-bottom: 10px;
	box-shadow: -8px 8px 16px rgba(35,35,35,0.3);
	.tour-reel{
		@include safeFlex(row,nowrap,start,stretch);
		width: 1800px;
		position: relative;
		top: 0;
		left: 0;
		.tour-item{
			padding-bottom: 60px;
			font-size: 1.6rem;
			position: relative;
			.tour-item-content{
				position: relative;
				width: 300px;
				&:after{
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 20px;
					@include calc(width, "100% - 40px");
					height: 50px;
					@include gradient(top,rgba(255,255,255,0),$lightGrey);
				}
				.content-inner{
					height: 30vh;
					overflow-y: scroll;
					*:last-child{
						padding-bottom: 15px;
					}
				}
			}//end tour-content
			.tour-nav{
				position: absolute;
				bottom: 0;
				left: 20px;
				@include calc(width,"100% - 40px");
				@include safeFlex(row,wrap,justify,start);
				border-top: 1px solid $black;
				border-bottom: 1px solid $black;
				a{
					display: inline-block;
					padding: 10px 0;
					text-decoration: none;
					&:hover,&:focus{
						text-decoration: underline;
					}
					&.full{
						width: 100%;
					}
					&.right{
						text-align: right;
					}
				}
			}//end tour nav
		}//end tour item
	}//end tour reel
	h2{
		font-size: 2rem;
		margin-bottom: $spaceSm;
		display: block;
		background: $gold;
		padding: 1.35rem 20px;
		text-align: center;
		height: 78px;
		@include safeFlex(column,nowrap,center,center);
		width: 300px;
	}
	p{
		margin-bottom: $spaceSm;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 1.6rem;
		&.avatar-note{
			display: none;
		}
	}//end p
	.close-cookie{
		text-align: center;
		padding-top: 20px;
		width: 300px;
		.tour-close{
			@include button;
			font-size: 1.5rem;
			padding: 1rem 1.5rem;
			margin: 0 auto $spaceSm;
		}
		span{
			text-align: left; 
			display: block;
			font-size: 1.3rem;
		}
	}//end close cookie
}//end user-tour

//user tour flags
.flag{
	display: none;
	position: absolute;
	background: $purple;
	color: $white;
	padding: 0 2em;
	line-height: 52px;
	height: 52px;
	z-index: 9999;
	font-size: 2rem;
	font-weight: 700;
	box-shadow: 5px 5px 8px rgba(35,35,35,0.2);
	&:before{
		content: '';
		display: block;
		position: absolute;
	}
	&#side-nav{
		top: 220px;
		position: fixed;
		left: 200px;
		padding: 0 2em 0 1.5em;
		@include rotate3d(0,1,2,5);
		&:before{
			@include triangle(left,52px,26px,$purple);
			top: 0;
			left: -26px;
		}
	}
	&#user-nav{
		top: 25px;
		position: fixed;
		right: 660px;
		@include rotate3d(0,1,2,-6);
		&:before{
			@include triangle(right,52px,26px,$purple);
			top: 0;
			right: -26px;
		}
	}
	&#your-dash{
		top: 40px;
		right: 275px;
		padding: 0 2em 0 1.5em;
		@include rotate3d(0,1,2,-12);
		&:before{
			@include triangle(left,52px,26px,$purple);
			top: 0;
			left: -26px;
		}
	}
	&#deploys{
		top: 100px;
		right: 285px;
		position: fixed;
		padding: 0 1.5em 0 2em;
		@include rotate3d(0,1,2,-25);
		&:before{
			@include triangle(right,52px,26px,$purple);
			top: 0;
			right: -26px;
		}
	}
	&#support{
		top: 395px;
		position: fixed;
		left: 215px;
		padding: 0 2em 0 1.5em;
		@include rotate3d(0,1,2,5);
		&:before{
			@include triangle(left,52px,26px,$purple);
			top: 0;
			left: -26px;
		}
	}
}//end flags


/* PROFILE INFORMATION
------------------------- */
.block-field-blockuserusername{
	margin-bottom: $spaceSm;
	text-align: center;
	max-width: $desk;
	position: relative;
	@include desk{
		@include clearFix;
	}
	.field.name{
		@include safeFlex(column,nowrap,start,center);
		@include desk{
			@supports(display: grid){
				display: grid;
				grid-template-columns: 1fr 225px;
				grid-template-rows: auto;
				grid-template-areas:
				 "header sidebar"
				 "middle sidebar"
				 "bottom sidebar";
			}
		}
	}
	h1{
		font-size: $h1Sm;
		font-weight: $regular;
		margin-bottom: $spaceSm;
		@include safeFlexOrder(1);
		@include tab{
			font-size: 4.2rem;
		}
		@include desk{
			@supports(display: grid){
				grid-area: header;
				grid-column: 1 / span 1;
				padding-top: 3rem;
				text-align: left;
			}
		}
	}//end h1

	.user-image-wrapper{
		width: 225px;
		border-radius: 50%;
		height: 225px;
		overflow: hidden;
		margin-bottom: $spaceSm;
		@include safeFlexOrder(2);
		@include desk{
			@supports(display: grid){
				grid-area: sidebar;
				grid-column: 2 / span 1;
			}
		}
		img{
			display: block;
		}
	}//end user image wrapper

	.user-info{
		@include safeFlex(row,wrap,center,start);
		@include bleed(padding,20px);
		@include safeFlexOrder(3);
		margin-bottom: $spaceMd;
		@include desk{
			@supports(display: grid){
				grid-area: middle;
				grid-column: 1 / span 1;
				@include safeFlex(row,wrap,start,start);
			}
		}
		& > div{
			&:not(:last-child){
				position: relative;
				&:after{
					@include vertRule(right,70%,$baseText);
				}
			}
		}
		.user-name{
			span:not(:last-child){
				margin-rigth: .25em;
			}
		}
		.edit-link a{
			text-decoration: none;
			&:hover,&:focus{
				text-decoration: underline;
			}
		}
	}//user info

	//action buttons
	.action-buttons{
		@include safeFlexOrder(4);
		@include safeFlex(row,wrap,center,start);
		@include bleed(margin,.8rem);
		@include desk{
			@supports(display: grid){
				grid-area: bottom;
				grid-column: 1 / span 1;
				text-align: left;
				@include safeFlex(row,wrap,start,start);
			}
		}
		& > a{
			width: 192px;
			display: block;
		}
	}//end action buttons
}//end username


/* CONTENT VIEWS
-------------------- */
.views-block.block-user-dashboard{
	@include onlyMobile{
		padding-top: 1rem;
	}
	h2.block-title{
		display: none;
	}
	.view-empty{
		padding-top: $spaceLg;
	}
	table{
		@include desk{
			border-top: 0;
		}
	}
	
	.views-field-title{
		@include desk{
			@include calc(width, "100% - 345px");
		}
		a{
			text-decoration: none;
			&:hover,&:focus{
				text-decoration: underline;
			}
		}
		.restricted{
			margin-left: .5rem;
			color: $red;
			font-size: 1.4rem;
		}
	}
	&.all-recents{
		.views-field-title{
			@include desk{
				@include calc(width, "100% - 515px");
			}
		}
	}
	.views-field-changed{
		@include desk{
			width: 170px;
		}
	}
	.views-field-uid{
		@include desk{
			width: 180px;
		}
	}
	.views-field-operations{
		&.st-val{
			padding-top: .6rem;
			padding-bottom: .5rem;
		}
		@include desk{
			width: 165px !important;
			max-width: 165px;
		}
	}
}//end views block

