.l__region {
  width: 100%;
}
.l__region + .l__region {
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .l__region + .l__region {
    margin-top: 3rem;
} }
@media (min-width: 64em) {
  .l__region + .l__region {
    margin-top: 0;
} }
@media (min-width: 64em) {
  .l__main {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
  .l__main .l__region {
    align-items: center;
    flex-direction: column;
}
  .column-priority-right .l__main {
    flex-direction: row-reverse;
}
  .l--layout-onecolumn-ec .l__region {
    width: 100%;
}
  .l--layout-twocolumn-halves-ec .l__main > .l__primary,
  .l--layout-twocolumn-halves-ec .l__main > .l__secondary {
    width: 50%;
}
  .l--layout-twocolumn-onethird-twothirds .l__main > .l__primary {
    width: 33.33333%;
}
  .l--layout-twocolumn-onethird-twothirds .l__main > .l__secondary {
    width: 66.66667%;
}
  .l--layout-twocolumn-twothirds-onethird .l__main > .l__primary {
    width: 66.66667%;
}
  .l--layout-twocolumn-twothirds-onethird .l__main > .l__secondary {
    width: 33.33333%;
}
  .l--layout-threecolumn-thirds .l__main > .l__primary,
  .l--layout-threecolumn-thirds .l__main > .l__secondary,
  .l--layout-threecolumn-thirds .l__main > .l__tertiary {
    width: 33.33333%;
}
  .l--layout-threecolumn-half-quarter-quarter .l__main > .l__primary {
    width: 50%;
}
  .l--layout-threecolumn-half-quarter-quarter .l__main > .l__secondary,
  .l--layout-threecolumn-half-quarter-quarter .l__main > .l__tertiary {
    width: 25%;
}
  .l--layout-threecolumn-quarter-half-quarter .l__main > .l__secondary {
    width: 50%;
}
  .l--layout-threecolumn-quarter-half-quarter .l__main > .l__primary,
  .l--layout-threecolumn-quarter-half-quarter .l__main > .l__tertiary {
    width: 25%;
}
  .l--layout-threecolumn-quarter-quarter-half .l__main > .l__tertiary {
    width: 50%;
}
  .l--layout-threecolumn-quarter-quarter-half .l__main > .l__primary,
  .l--layout-threecolumn-quarter-quarter-half .l__main > .l__secondary {
    width: 25%;
} }
