/* ========================
   COLORS
========================== */
$white        : #ffffff;
$offWhite     : #f6f6f6;
$lightGrey    : #ededed;
$grey         : #cccccc;
$contrastGrey : #767676;
$midGrey      : #676767;
$darkGrey     : #4a4a4a;
$black        : #121212;
$lightPink    : #fbf3f6;
$red          : #bf0e0e;
$green        : #018901;
$teal         : #01897b;
$orange       : #fc9605;
$gold         : #fcd105;
$darkGold     : #ebc304;
$blackGold    : #797501;
$blueGrey     : #dce7f3;
$blue         : #3778c1;
$midBlue      : #2c5580;
$darkBlue     : #323b49;

$transBlueLight: rgba(28,88,131,0.25);
$transBlack    : rgba(35,35,35,0.7);

/* COMPONENT COLORS
----------------- */
$siteBack     : $white;
$baseText     : $black;
$borderRule   : $blue;
$link         : $blue;
$hoverLink    : $midGrey;

$buttonBack        : $link;
$buttonText        : $white;
$buttonBackHover   : $grey;
$buttonTextHover   : $black;
$buttonBackActive  : darken($grey, 10%);
$buttonTextActive  : $black;
$primaryButtonBack : $blue;
$primaryButtonText : $white;
$primaryBackHover  : $grey;
$primaryTextHover  : $black;
$primaryBackActive : darken($grey, 10%);
$primaryTextActive : $black;
$submitBack        : $blue;
$submitText        : $white;
$submitBackHover   : $grey;
$submitTextHover   : $black;
$resetBack         : $red;
$resetText         : $white;
$resetBackHover    : $grey;
$resetTextHover    : $black;
$cautionBack       : $blackGold;
$cautionText       : $white;
$cautionBackHover  : $grey;
$cautionTextHover  : $black;

$formElementBorder        : $borderRule;
$placeColor               : $baseText;
$placeFocusColor          : $placeColor;
$validation               : $red;
$checkBox                 : $link;
$checkBoxHover            : $black;
$checkBoxBackHover        : $transBlack;
$checkBoxChecked          : darken($checkBox, 5%);
$checkBoxCheckedBack      : $transBlack;
$checkBoxCheckedBackHover : $black;
$selectArrow              : $midGrey;
$selectHighlight          : $link;

$quickLinkBar             : $gold;
$quickLinkDrawer          : $darkGold;
$quickLinkDrawerHover     : lighten($darkGold, 5%);
