/* ========================
   FONTS
========================== */

/* FAMILIES
-------------- */
$headerFont: 'Montserrat', sans-serif;
$bodyFont: 'Lato', sans-serif;

/* WEIGHTS
------------- */
$heavy: 700;
$regular: 400;

/*  SIZES
-------------------- */
$baseSize: 1.6rem;
$formLabel: 1.4rem;
$button: 1.4rem;