/* ========================
  GLOBAL
========================== */
body{
	background-color: $siteBack;
	& > div{
		box-sizing: border-box;
	}
	.dialog-off-canvas-main-canvas{
		width: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
		padding-top: 50px;
		@include calc(min-height, "100vh - 50px");
		@include smallTab{
			padding-top: 0;
			padding-left: 225px;
			min-height: 100vh;
		}
		& > .layout-container{
			background: $siteBack;
		}
	}
	&.role-administrator{
		.dialog-off-canvas-main-canvas{
			padding-left: 0;
			padding-top: 0;
			@include calc(min-height, "100vh - 39px");
			@include desk{
				padding-left: 225px;
				@include calc(min-height, "100vh - 79px");
			}
		}
	}
	.visually-hidden{
		max-width: 1px;
	}
	&.path-batch{
		.dialog-off-canvas-main-canvas{
			@include smallTab{
				padding-right: 80px;
			}
			& > .layout-container{
				background: $offWhite;
			}
		}
	}//end path batch
	.ui-dialog{
		z-index: 500 !important;
	}
}//end body adminimal crane