/* ========================
  BUTTONS
========================== */

//button class
.button {
	@include button;
}

//outlineButtons
.button-outline{
	@include outlineButton($link);
}

.js .dropbutton-widget{
	li.secondary-action{
		border-top: 1px solid $white;
	}
	a{
		color: $white;
		padding: 8px 10px 8px 30px;
		border-right: 1px solid $white;
		text-decoration: none;
		background: $buttonBack;
		font-family: $headerFont;
		text-transform: uppercase;
		font-weight: $xHeavy;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
	}
	button{
		background: $buttonBack;
		color: $white;
		&:hover,&:focus{
			background: $buttonBackHover;
			color: $buttonTextHover;
		}
		&:active{
			background: $buttonBackActive;
			color: $buttonTextActive;
		}
		.dropbutton-arrow{
			font-size: 16px;
			@include calc(right, "50% - 5px");
		}
	}//end button
}//end dropbutton width 
