/* ========================
  BUTTONS
========================== */

%dropbutton{
	input,.button,a,button{
		border-radius: 0 !important;
		box-shadow: none;
		background: $siteBack;
		text-shadow: none;
		border-color: $borderRule;
		font-size: 1.6rem;
		color: $baseText;
		&:hover,&:focus{
			background-color: $offWhite !important;
			background-image: none !important;
			border-radius: 0 !important;
			box-shadow: none;
		}
		&:active{
			background: $lightGrey;
			border-radius: 0;
			box-shadow: none;
		}
	}
}


//button class
.button {
	@include button;
	&.warning{
		@include cautionButton;
	}
	&.danger-robinson{
		@include resetButton;
		padding: 1rem 1.5rem;
		height: auto;
	}
}

//outlineButtons
.button-outline{
	@include outlineButton($borderRule);
}

//dropbuttons
.js{
	.dropbutton-multiple,.dropbutton-wrapper,.dropbutton-single{
		.dropbutton-widget{
			border-radius: 0;
			text-shadow: none;
			background: $siteBack;
			border: 1px solid $borderRule;
			min-width: 120px;
			.dropbutton-action,.dropbutton-toggle{
				@extend %dropbutton;
			}
			.dropbutton-toggle{
				button{
					border-left: 1px solid $borderRule;
				}
			}
		}//end dropbutton widget
		.dropbutton-action{
			@extend %dropbutton;
			a{
				padding: .25rem 2rem;
			}
		}
	}//end dropbutton
}//end js
