/* ==============
	 ADMIN-NAV
================== */

/* HIDE ADMIN TOOLBAR FROM NON-ADMINS */
body:not(.role-administrator){
	#toolbar-administration{
		display: none !important;
	}
	&.toolbar-tray-open.toolbar-vertical{
		padding-top: 0 !important;
		&.toolbar-fixed{
			margin-left: 0;
		}
	}
}

/* BREADCRUMBS
---------------- */
.block-system-breadcrumb-block{
	width: 100%;
	font-size: 1.4rem;
	margin-top: -$spaceSm;
}


/* LOCAL ACTIONS
------------------ */
#block-crane-local-actions{
	ul.action-links{
		margin: 0 0 $spaceSm;
		&:not(.can-access){
			display: none;
		}
		.adminimal &{
			a.button--primary.button--small{
				border-radius: 0;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
					border: 1px solid $buttonBackHover;
					@include transAll(.3s);
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
					border: 1px solid $buttonBackActive;
				}
			}
		}
	}//end action links
}//end local actions

/* PRIMARY TABS (local tasks)
--------------------- */
.block-local-tasks-block{
	width: 100%;
}
ul.tabs.primary{
	*{
		box-sizing: border-box;
	}
	.crane nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled &{
		background: transparent;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		z-index: 99;
	}
	.crane nav.is-collapse-enabled &{
		.tabs__tab{
			padding-right: 0;
			&.is-active{
				border-bottom: 0;
				top: -4px;
			}
			a{
				display: block;
				margin-bottom: 0;
			}
		}
	}
	//hide the various tabs based on role other criteria
	&.node-tabs{
		.tabs__tab.view{
			.role-editor &,.role-site_manager &{
				display: none;
			}
		}
		.tabs__tab.all-pages{
			.page-node-type-resource &{
				display: none;
			}
		}
		.tabs__tab.all-resources{
			.page-node-type-page &{
				display: none;
			}
		}
	}
	&.block-library-tabs{
		.role-editor &,.role-site_manager &{
			display: none;
		}
	}

	.tabs__tab{
		&.is-active{
			box-shadow: none !important;
			background-color: transparent;
		}
		a{
			@include outlineButton($borderRule);
			margin-bottom: -1px;
			background: $white;
			border-radius: 0;
			font-weight: $heavy;
			color: $black;
			&:hover,&:focus{
				background: $buttonBackHover;
				color: $buttonTextHover;
				border: 1px solid $buttonBackHover;
				text-decoration: none !important;
			}
			&:active{
				background: $buttonBackActive;
				color: $buttonTextActive;
				border: 1px solid $buttonBackActive;
			}
			&.is-active{
				background: $midGrey;
				color: $white;
				border-color: $midGrey;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
					border: 1px solid $buttonBackHover;
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
					border: 1px solid $buttonBackActive;
				}
			}
		}//end a{
		&:not(:last-child){
			a{
				border-right: 0;
			}
		}
	}//end tabs__tab
}//end tabs-primary

/* SECONDARY LOCAL TASKS
----------------------------- */
#block-crane-secondary-local-tasks{
	nav.tabs{
		li{
			border: 0 !important;
			padding-left: 0;
			padding-right: 0;
			a{
				border-bottom: 1px solid $borderRule;
				border-left: 3px solid transparent;
				font-size: 1.5rem;
				&.is-active{
					border-left-color: $darkGrey;
					&:hover,&:focus{
						color: $hoverLink;
						border-left-color: $grey;
					}
				}
				&:hover,&:focus{
					border-left-color: $grey;
					color: $hoverLink;
				}
			}//end a
		}//end li
		.is-horizontal li a{
			border-left: 0;
			border-bottom: 2px solid transparent;
			&.is-active{
				border-bottom-color: $darkGrey;
				&:hover,&:focus{
					border-left-color: $grey;
				}
			}
			&:hover,&:focus{
				border-bottom-color: $grey;
			}
		}
		//hide block secondary tasks from non-admins
		&.blocks.block-types{
			body:not(.role-administrator) &{
				display: none;
			}
		}
	}//end nav tabs
}//end secondary local tasks

