/* ==============
	 ADMIN-NAV
================== */

/* HIDE ADMIN TOOLBAR FROM NON-ADMINS */
body:not(.role-administrator){
	#toolbar-administration{
		display: none !important;
	}
	&.toolbar-tray-open.toolbar-vertical{
		padding-top: 0 !important;
		&.toolbar-fixed{
			margin-left: 0;
		}
	}
}


/* LOCAL ACTIONS
------------------ */
.adminimal.crane #block-crane-local-actions{
	ul.action-links{
		position: relative;
		margin: $elementSpace 0 0;
		padding: 3rem 0 1rem;
		&:after{
			@include fullBack($offWhite);
		}
		&:not(.can-access){
			display: none;
		}
		a.button.button--small{
			background: $white;
			&:hover,&:focus{
				background: $buttonBackHover;
			}
			&:active{
				background: $buttonBackActive;
			}
		}
	}//end action links
}//end local actions

/* PRIMARY TABS (local tasks)
--------------------- */
ul.tabs.primary{
	.adminimal.crane nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled &{
		background: transparent;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		z-index: 99;
	}
	nav.is-collapse-enabled &{
		.tabs__tab{
			padding-right: 0;
			&.is-active{
				border-bottom: 0;
				top: -4px;
			}
			a{
				display: block;
				margin-bottom: 0;
			}
		}
	}
	//hide the various tabs based on role other criteria
	&.node-tabs{
		.tabs__tab.view{
			.role-editor &,.role-site_manager &{
				display: none;
			}
		}
		.tabs__tab.all-pages{
			.page-node-type-resource &{
				display: none;
			}
		}
		.tabs__tab.all-resources{
			.page-node-type-page &{
				display: none;
			}
		}
	}
	&.block-library-tabs{
		.role-editor &,.role-site_manager &{
			display: none;
		}
	}

	.tabs__tab{
		padding-right: 5px;
		&.is-active{
			box-shadow: none !important;
		}
		a{
			@include outlineButton($link);
			margin-bottom: -1px;
			background: $white;
			border-radius: 0;
			font-weight: $xHeavy;
			&.is-active{
				background: $lightGrey;
				color: $midBlue;
				border-color: $midBlue;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
					border-color: $buttonBackHover;
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
					border-color: $buttonBackActive;
				}
			}
		}
	}//end tabs__tab
}//end tabs-primary

/* SECONDARY LOCAL TASKS
----------------------------- */
#block-crane-secondary-local-tasks{
	nav.tabs{
		//hide block secondary tasks from non-admins
		&.blocks.block-types{
			body:not(.role-administrator) &{
				display: none;
			}
		}
	}
}//end secondary local tasks

