/* ==============
	 ADMIN-NAV
================== */

/* LOCAL ACTIONS
------------------ */
.adminimal.crane #block-crane-local-actions{
	ul.action-links{
		position: relative;
		margin: $elementSpace 0 0;
		padding: 3rem 0 1rem;
		&:after{
			@include fullBack($offWhite);
		}
		&:not(.can-access){
			display: none;
		}
		a.button.button--small{
			background: $white;
			&:hover,&:focus{
				background: $buttonBackHover;
			}
			&:active{
				background: $buttonBackActive;
			}
		}
	}//end action links
}//end local actions

/* PRIMARY TABS (local tasks)
--------------------- */
ul.tabs.primary{
	.adminimal.crane nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled &{
		background: transparent;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		z-index: 99;
	}
	//hide the view and revision tabs from non-admins 
	&.node-tabs{
		.tabs__tab.view{
			.role-editor &,.role-site_manager &{
				display: none;
			}
		}
	}
	.tabs__tab{
		padding-right: 5px;
		&.is-active{
			box-shadow: none !important;
		}
		a{
			@include outlineButton($link);
			margin-bottom: -1px;
			background: $white;
			border-radius: 0;
			font-weight: $xHeavy;
			&.is-active{
				background: $lightGrey;
				color: $midBlue;
				border-color: $midBlue;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
					border-color: $buttonBackHover;
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
					border-color: $buttonBackActive;
				}
			}
		}
	}//end tabs__tab
}//end tabs-primary