/* ==============
	 CONTAINERS
================== */

/* SUMMARY BLOCK
------------------ */
.seven-details[open]{
	& > .seven-details__summary{
		color: $darkBlue;
		&:hover,&:focus{
			color: $hoverLink;
		}
	}
}
.seven-details__summary{
	font-family: $headerFont;
	color: $darkBlue;
	&:hover,&:focus{
		color: $hoverLink;
	}
}

/* INLINE CONTAINERS
-------------------- */
.container-inline{
	div{
		display: inline-block;
		width: auto;
		margin-right: 1em;
	}
}

/* taxonomy relations container */
#edit-relations{
	max-width: 400px;
}

