/* ========================
  HEADER
========================== */
.adminimal.crane .content-header{
	background: $white;
	.page-title{
		color: $black;
		font-weight: $xHeavy;
		margin-bottom: $spaceSm;
	}
}//end content-header