/* ========================
  QUICKLINKS
========================== */
nav#block-crane-quicklinks{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 499;
	width: 100%;
	@include smallTab{
		padding-top: 120px;
		width: 80px;

	}
	.role-administrator &{
		display: none;
		@include desk{
			padding-top: 198px;
			display: block;
		}
	}
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 50px;
		background: $quickLinkBar;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 498;
		@include smallTab{
			height: 100vh;
			width: 80px;
			box-shadow: 0 6px 8px rgba(35,35,35,0.35);
		}
	}
	.contextual{
		display: none;
	}
	ul:not(.contextual-links){
		@include listReset;
		&.root-menu{
			@include onlyPhone{
				@include safeFlex(row,wrap,center,start);
			}
			.manager{
				.role-editor:not(.role-site_manager) &,.role-editor:not(.role-administrator) &{
					display: none !important;
				}
			}
			.admin{
				.role-editor:not(.role-administrator) &,.role-site_manager:not(.role-administrator) &{
					display: none !important;
				}
			}
			ul{
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				z-index: 497;
				background: $quickLinkDrawer;
				padding: 10px 0;
				display: none;
				@include smallTab{
					top: 8px;
					left: -310px;
					width: 240px;
					display: block !important;
					box-shadow: 2px 2px 4px rgba(35,35,35,0.15);
				}
			}
			.item-level-1{
				padding: 0 4px;
				@include smallTab{
					padding: 10px 0;
					position: relative;
				}
				& > a{
					display: block;
					position: relative;
					z-index: 499;
					width: 50px;
					height: 50px;
					color: $black;
					font-size: 9px;
					font-family: $headerFont;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
					@include safeFlex(column,nowrap,end,center);
					text-indent: -9000px;
					@include smallTab{
						width: 80px;
						height: 66px;
						text-indent: 0;
					}
					&:hover{
						opacity: .7;
					}
					&.profile{
						background: url(../images/icons/profile.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/profile-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
					&.content{
						background: url(../images/icons/content.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/content-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
					&.structure{
						background: url(../images/icons/structure.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/structure-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
					&.users{
						background: url(../images/icons/users.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/users-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
					&.services{
						background: url(../images/icons/services.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/services-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
					&.reports{
						background: url(../images/icons/reports.svg) no-repeat;
						background-size: 36px 36px;
						background-position: center;
						@include smallTab{
							background-size: 48px 48px;
							background-position: top center;
						}
						&:focus{
							background: url(../images/icons/reports-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}
				}//end level 1 > a
				&.expanded{
					& > a{
						&.profile{
							background: url(../images/icons/profile-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
						&.content{
							background: url(../images/icons/content-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
						&.structure{
							background: url(../images/icons/structure-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
						&.users{
							background: url(../images/icons/users-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
						&.services{
							background: url(../images/icons/services-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
						&.reports{
							background: url(../images/icons/reports-filled.svg) no-repeat;
							background-size: 36px 36px;
							background-position: center;
							@include smallTab{
								background-size: 48px 48px;
								background-position: top center;
							}
						}
					}//end > a
				}//end expanded
			}//end level 1
			.item-level-2{
				& > a{
					padding: 6px 10px;
					display: block;
					color: $black;
					text-transform: uppercase;
					text-decoration: none;
					font-family: $headerFont;
					font-weight: $heavy;
					font-size: 1.6rem;
					&:hover,&:focus{
						background: $quickLinkDrawerHover;
					}
				}
			}//end level 2
		}//end root menu
	}//end ul 
}//end quicklinks nav