/* ==============
	 SUMMARY BLOCK
================== */
body.adminimal.crane{
	.seven-details[open]{
		& > .seven-details__summary{
			color: $darkBlue;
			&:hover,&:focus{
				color: $hoverLink;
			}
		}
	}
	.seven-details__summary{
		font-family: $headerFont;
		color: $darkBlue;
		&:hover,&:focus{
			color: $hoverLink;
		}
	}
}//end crane