/* ========================
  HEADER
========================== */
header{
	& > div{
		background: $black;
		color: $white;
		padding: 18px 0 13px;
		.role-administrator &{
			display: none;
		}
		.logged-in &{
			position: fixed;
			width: 100%;
			z-index: 496;
			@include tab{
				z-index: 599;
			}
		}
		.logged-in.path-user &,.logged-in.node-type-support-book &{
			top: 50px;
			@include tab{
				top: 0;
			}
		}
		.logged-in:not(.path-user):not(.node-type-support-book) &{
			top: 0;
		}
	}
}

/* HEADER BLOCKS
----------------- */
.block-system-branding-block{
	width: 100%;
	padding-left: $siteMarginMobile;
	padding-right: $siteMarginMobile;
	@include auto;
	@include safeFlex(row,wrap,center,center);
	position: relative;
	body:not(.logged-in) &{
		max-width: $siteMaxWidth + 120px;		
	}
	@include tab{
		@include safeFlex(row,nowrap,justify,center);
	}
	.site-name{
		font-weight: $heavy;
		display: block;
		@include onlySmall{
			width: 100%;
			text-align: center;
			margin-bottom: $spaceXs;
		}
	}
	.header-actions{
		@include safeFlex(row,wrap,center,start);
		@include bleed(padding,20px);
		@include tab{
			text-align: right;
			@include calc(width,"100% - 200px");
			@include safeFlex(row,wrap,end,start);
		}
		& > div{
			&:not(:last-child){
				position: relative;
				&:after{
					@include vertRule(right,70%,$white);
				}
			}
		}
		.user-icon{
			width: 14px;
			margin-right: .75rem;
			display: inline;
		}
		a{
			color: $white;
			text-decoration: none;
			&:hover,&:focus{
				opacity: .6;
				text-decoration: underline;
			}
		}
	}//end header actions
}//end branding block
