/* ========================
  MAIN
========================== */

main{
	body.path-user.logged-in:not(.role-administrator) &{
		padding-top: 166px;
		@include smallTab{
			padding-top: 141px;
		}
		@include tab{
			padding-left: 225px;
			padding-top: 56px;
		}
	}
	body.node-type-support-book.logged-in:not(.role-administrator) &{
		padding-top: 60px;
		@include tab{
			padding-left: 225px;
		}
	}
	.path-user.role-administrator &,.node-type-support-book.role-administrator &{
		@include desk{
			padding-left: 225px;
		}
	}
	.layout-content > div{
		body:not(.logged-in) &{
			@include calc(min-height, "100vh - 151px");
			@include tab{
				@include calc(min-height, "100vh - 136px");
			}
		}
		body:not(.logged-in.path-user) &{
			max-width: $siteMaxWidth + 120px;
			@include auto;
		}
	}//end layout content div
}//end main