/* ========================
  QUICKLINKS
========================== */
nav#block-quicklinks{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 499;
	width: 100%;
	@include tab{
		padding-top: 115px;
		width: 225px;
		overflow: hidden;
		height: 100vh;
	}
	.role-administrator &{
		display: none;
		@include desk{
			display: block;
			padding-top: 138px;
		}
	}
	&:after{
		content: '';
		display: block;
		height: 50px;
		width: 100%;
		background: $quickLinkBar;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 498;
		@include tab{
			height: 100vh;
			width: 225px;
		}
	}
	body:not(.logged-in) &{
		display: none;
	}
	.contextual{
		display: none;
	}
	ul:not(.contextual-links){
		@include listReset;
		&.root-menu{
			@include onlySmall{
				@include safeFlex(row,wrap,center,start);
			}
			@include tab{
				position: relative;
			}
			.manager{
				.role-editor:not(.role-site_manager) &{
					display: none !important;
				}
			}
			.admin{
				.role-editor:not(.role-administrator) &,.role-site_manager:not(.role-administrator) &{
					display: none !important;
				}
			}
			ul{
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				z-index: 501;
				background: $quickLinkDrawer;
				padding: 10px 0;
				display: none;
				@include tab{
					top: 0;
					left: -310px;
					width: 225px;
					display: block !important;
					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 200vh;
						position: absolute;
						top: -100vh;
						left: 0;
						background: $gold;
					}
				}
			}
			.item-level-1{
				padding: 0;
				@include tab{
					padding: 5px 0;
					background-color: $gold;
				}
				& > a{
					display: block;
					width: 50px;
					height: 50px;
					position: relative;
					z-index: 499;
					color: $black;
					font-size: 2rem;
					font-weight: $heavy;
					font-family: $bodyFont;
					text-align: left;
					text-decoration: none;
					text-indent: -9000px;
					@include tab{
						text-indent: 0;
						width: 100%;
						height: auto;
						padding: 8px 15px 8px 50px;
					}
					&:hover{
						opacity: .7;
					}
					&.dashboard{
						background-image: url('../images/icons/dashboard.svg');
						background-repeat: no-repeat;
						background-size: 30px 30px;
						background-position: center;
						.path-user &{
							background-color: $white;
						}
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
					&.content{
						background-image: url('../images/icons/content.svg');
						background-repeat: no-repeat;
						background-size: 30px 30px;
						background-position: center;
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
					&.structure{
						background-image: url('../images/icons/structure.svg');
						background-size: 30px 30px;
						background-repeat: no-repeat;
						background-position: center;
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
					&.users{
						background-image: url('../images/icons/users.svg');
						background-size: 30px 30px;
						background-repeat: no-repeat;
						background-position: center;
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
					&.services{
						background-image: url('../images/icons/services.svg');
						background-repeat: no-repeat;
						background-size: 30px 30px;
						background-position: center;
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
					&.reports{
						background-image: url('../images/icons/reports.svg');
						background-repeat: no-repeat;
						background-size: 30px 30px;
						background-position: center;
						@include tab{
							background-size: 24px 24px;
							background-position: 15px center;
						}
					}
				}//end level 1 > a
			}//end level 1
			.item-level-2{
				& > a{
					padding: 8px $siteMarginMobile;
					display: block;
					color: $black;
					text-decoration: none;
					position: relative;
					z-index: 502;
					&.subtoggle{
						font-size: 2rem;
						font-weight: $heavy;
						@include onlySmall{
							display: none;
						}
					}
					&:hover,&:focus{
						opacity: .6;
						text-decoration: underline;
					}
					@include tab{
						&:not(.subtoggle){
							padding-left: 45px;
						}
					}
				}//end a
			}//end level 2
		}//end root menu
	}//end ul 
}//end quicklinks nav