/*WYSIWYG for editors*/
.ck-editor__main {
  font-size: 16px;
  line-height: 24px;
  color: #1f2225;
}

.ck-content a{
  color: #1155cc;
}

.ck-content h2{
  font-size: 29px;
}

.ck-content h3{
  font-size: 23px;
}

.ck-content h4{
  font-size: 21px;
}

.ck-content h5{
  font-size: 18px;
}

.ck-content h6{
  font-size: 17px;
}