/* ============
	BREAKPOINTS & GRID VARIABLES
======================= */
/* BREAKPOINT VARIABLES
------------------------ */
/* SPACING VARIABLES
----------------------------- */
/* LAYOUT VARIABLES
-------------------- */
/* ========================
   COLORS
========================== */
/* COMPONENT COLORS
----------------- */
/* ========================
   FONTS
========================== */
/* FAMILIES
-------------- */
/* WEIGHTS
------------- */
/*  SIZES
-------------------- */
/* ========================
   MIXINS
========================== */
/* HELPER MIXINS (used as a basis for other mixins or for browser prefixing)
----------------- */
/* LAYOUT MIXINS
-------------------- */
/* ========================
  GLOBAL
========================== */
body {
  background: #ffffff;
  width: 100%; }
  body > .overflow-guard {
    overflow-x: hidden; }
  body div {
    box-sizing: border-box; }
    body div * {
      box-sizing: inherit; }
  body .dialog-off-canvas-main-canvas > .layout-container {
    padding-top: 0; }
  @media (min-width: 760px) {
    body.logged-in:not(.responsive-preview-frame) .dialog-off-canvas-main-canvas {
      padding-top: 0; } }
  body.logged-in:not(.responsive-preview-frame).role-administrator .dialog-off-canvas-main-canvas {
    padding-top: 0;
    padding-left: 0; }
  body:not(.role-administrator) #toolbar-administration {
    display: none !important; }
  body:not(.role-administrator).toolbar-tray-open.toolbar-vertical {
    padding-top: 0 !important; }
    body:not(.role-administrator).toolbar-tray-open.toolbar-vertical.toolbar-fixed {
      margin-left: 0; }

#block-crane-front-help {
  padding: 3rem 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

#block-crane-front-content {
  padding: 3rem 2rem; }
  @media (min-width: 976px) {
    #block-crane-front-content {
      padding: 3rem 3.2rem; } }
  .responsive-preview-frame #block-crane-front-content > article {
    padding: 3rem 2rem 5rem; }
    @media (min-width: 760px) {
      .responsive-preview-frame #block-crane-front-content > article {
        padding: 3rem 3.5rem 5rem; } }

/* KINTING
-------------- */
.kint {
  position: fixed;
  z-index: 9999;
  top: 200px;
  right: 5%;
  width: 90%;
  max-width: 800px;
  max-height: calc(90% - 200px);
  overflow: scroll; }

/* =============
	MESSAGING
================ */
.drupal-message, .messages--status, .messages--warning, .messages--error {
  margin: 2rem auto;
  padding: 10px 10px 10px 50px;
  /* LTR */
  background-color: #ffffff;
  background-image: url("../images/message-24-ok.png");
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
  max-width: 1200px; }

.messages--status {
  background-color: #f8fff0;
  color: #234600; }

.messages--warning {
  background-color: #fffce5;
  color: #840;
  background-image: url("../images/message-24-warning.png");
  border-color: #ed5; }

.messages--error {
  background-color: #fef5f1;
  color: #8c2e0b;
  background-image: url("../images/message-24-error.png");
  border-color: #ed541d; }

.messages__list {
  margin: 0; }

.messages__item {
  list-style-image: none; }

/* ===============
   Section Layouts
=================== */
.tabs-instructions {
  display: none; }

/* LAYOUT BUILDER UI
-------------------- */
.layout-builder .layout-builder__region {
  overflow: hidden;
  margin-bottom: 2rem; }
  .layout-builder .layout-builder__region .draggable {
    margin-bottom: 4rem;
    max-height: 500px;
    overflow: hidden;
    min-height: 90px; }
    .layout-builder .layout-builder__region .draggable * {
      word-break: break-all; }
  .layout-builder .layout-builder__region .tabs-instructions {
    display: block;
    font-size: 1.6rem; }

/* RENDERED LAYOUTS 
-------------------- */
.layout__region > * {
  margin-bottom: 3rem; }

/* TABS */
.layout--tabs {
  width: 100%; }
  .layout--tabs .layout__region--tabs {
    padding: 0 0 3rem; }
    .layout--tabs .layout__region--tabs .tabs-wrapper > div:not(:first-of-type) {
      display: none; }
    .layout--tabs .layout__region--tabs ul.tabs-header {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      -ms-flex-direction: row;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: flex-start;
      -ms-flex-pack: start;
      align-items: flex-start;
      -ms-flex-align: start; }
      .layout--tabs .layout__region--tabs ul.tabs-header li {
        list-style-type: none; }
      .layout--tabs .layout__region--tabs ul.tabs-header li {
        min-width: 224px; }
        @media (max-width: 599px) {
          .layout--tabs .layout__region--tabs ul.tabs-header li {
            width: 100%; } }
        @media (min-width: 600px) {
          .layout--tabs .layout__region--tabs ul.tabs-header li {
            margin-right: -1px; } }
      .layout--tabs .layout__region--tabs ul.tabs-header .tab-control {
        background-image: none;
        background-color: #1155cc;
        border: none;
        color: #ffffff;
        line-height: 1.15;
        padding: 1.2rem 1.5rem;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        text-align: center;
        letter-spacing: .02em;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        background: transparent;
        border: 1px solid #979797;
        color: #1155cc;
        font-weight: 700;
        border-radius: 0;
        border-width: 1px;
        width: 100%;
        margin-bottom: -1px;
        color: #1f2225; }
        .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:hover, .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:focus {
          color: #1f2225;
          background-color: #cccccc;
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -webkit-transform: translateZ(0);
          outline: none; }
        .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:active {
          color: #1f2225;
          background-color: #b3b3b3; }
        .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:hover, .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:focus {
          background: #cccccc;
          color: #1f2225;
          border-color: #cccccc;
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -webkit-transform: translateZ(0); }
        .layout--tabs .layout__region--tabs ul.tabs-header .tab-control:active {
          background: #b3b3b3;
          color: #1f2225;
          border-color: #b3b3b3; }
        .layout--tabs .layout__region--tabs ul.tabs-header .tab-control.active-tab {
          background: #646569;
          color: #ffffff;
          border-color: #646569; }
          .layout--tabs .layout__region--tabs ul.tabs-header .tab-control.active-tab:hover, .layout--tabs .layout__region--tabs ul.tabs-header .tab-control.active-tab:focus {
            background: #cccccc;
            color: #1f2225;
            border-color: #cccccc; }
          .layout--tabs .layout__region--tabs ul.tabs-header .tab-control.active-tab:active {
            background: #b3b3b3;
            color: #1f2225;
            border-color: #b3b3b3; }
    .layout--tabs .layout__region--tabs .tab-item {
      border-top: 1px solid #979797; }

/* ========================
  TYPOGRAPHY
========================== */
/* HEADING MIXINS
------------------ */
/* HEADING STYLING
------------------- */
h1 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 32px;
  font-weight: 700; }
  @media (min-width: 760px) {
    h1 {
      font-size: 46px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 60px; } }

h2 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 26px; }
  @media (min-width: 760px) {
    h2 {
      font-size: 29px; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 32px; } }

h3 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 24px; }
  @media (min-width: 760px) {
    h3 {
      font-size: 28px; } }

h4 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 22px; }

h5 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 20px; }

h6 {
  line-height: 1.15;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 18px; }

h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
  margin-top: 0; }

h2.block-title {
  font-weight: 700; }

/* GLOBAL TEXT SETTINGS 
-------------------- */
html, code {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-synthesis: none; }

body {
  color: #1f2225;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: .02em; }

p {
  margin-top: 0; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

a {
  color: #1155cc; }
  a:hover, a:focus {
    color: #646569; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }
  ol[type="A"] {
    list-style-type: lower-alpha; }
  ol[type="I"] {
    list-style-type: upper-roman; }

/* ========================
  BUTTONS
========================== */
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action input, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle input, .js .dropbutton-single .dropbutton-widget .dropbutton-action input, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle input, .js .dropbutton-multiple .dropbutton-action input, .js .dropbutton-wrapper .dropbutton-action input, .js .dropbutton-single .dropbutton-action input, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle .button, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle .button, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle .button, .js .dropbutton-multiple .dropbutton-action .button, .js .dropbutton-wrapper .dropbutton-action .button, .js .dropbutton-single .dropbutton-action .button, .js .dropbutton-multiple .dropbutton-widget .dropbutton-action a, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle a, .js .dropbutton-single .dropbutton-widget .dropbutton-action a, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle a, .js .dropbutton-multiple .dropbutton-action a, .js .dropbutton-wrapper .dropbutton-action a, .js .dropbutton-single .dropbutton-action a, .js .dropbutton-multiple .dropbutton-widget .dropbutton-action button, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button, .js .dropbutton-single .dropbutton-widget .dropbutton-action button, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle button, .js .dropbutton-multiple .dropbutton-action button, .js .dropbutton-wrapper .dropbutton-action button, .js .dropbutton-single .dropbutton-action button {
  border-radius: 0 !important;
  box-shadow: none;
  background: #ffffff;
  text-shadow: none;
  border-color: #979797;
  font-size: 1.6rem;
  color: #1f2225; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input:hover, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle input:hover, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle input:hover, .js .dropbutton-multiple .dropbutton-action input:hover, .js .dropbutton-wrapper .dropbutton-action input:hover, .js .dropbutton-single .dropbutton-action input:hover, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input:focus, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle input:focus, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle input:focus, .js .dropbutton-multiple .dropbutton-action input:focus, .js .dropbutton-wrapper .dropbutton-action input:focus, .js .dropbutton-single .dropbutton-action input:focus, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle .button:hover, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle .button:hover, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle .button:hover, .js .dropbutton-multiple .dropbutton-action .button:hover, .js .dropbutton-wrapper .dropbutton-action .button:hover, .js .dropbutton-single .dropbutton-action .button:hover, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle .button:focus, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle .button:focus, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle .button:focus, .js .dropbutton-multiple .dropbutton-action .button:focus, .js .dropbutton-wrapper .dropbutton-action .button:focus, .js .dropbutton-single .dropbutton-action .button:focus, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a:hover, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle a:hover, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle a:hover, .js .dropbutton-multiple .dropbutton-action a:hover, .js .dropbutton-wrapper .dropbutton-action a:hover, .js .dropbutton-single .dropbutton-action a:hover, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a:focus, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle a:focus, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle a:focus, .js .dropbutton-multiple .dropbutton-action a:focus, .js .dropbutton-wrapper .dropbutton-action a:focus, .js .dropbutton-single .dropbutton-action a:focus, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:hover, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle button:hover, .js .dropbutton-multiple .dropbutton-action button:hover, .js .dropbutton-wrapper .dropbutton-action button:hover, .js .dropbutton-single .dropbutton-action button:hover, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:focus, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle button:focus, .js .dropbutton-multiple .dropbutton-action button:focus, .js .dropbutton-wrapper .dropbutton-action button:focus, .js .dropbutton-single .dropbutton-action button:focus {
    background-color: #f6f6f6 !important;
    background-image: none !important;
    border-radius: 0 !important;
    box-shadow: none; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input:active, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle input:active, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle input:active, .js .dropbutton-multiple .dropbutton-action input:active, .js .dropbutton-wrapper .dropbutton-action input:active, .js .dropbutton-single .dropbutton-action input:active, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle .button:active, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle .button:active, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle .button:active, .js .dropbutton-multiple .dropbutton-action .button:active, .js .dropbutton-wrapper .dropbutton-action .button:active, .js .dropbutton-single .dropbutton-action .button:active, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a:active, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle a:active, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle a:active, .js .dropbutton-multiple .dropbutton-action a:active, .js .dropbutton-wrapper .dropbutton-action a:active, .js .dropbutton-single .dropbutton-action a:active, .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:active, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle button:active, .js .dropbutton-multiple .dropbutton-action button:active, .js .dropbutton-wrapper .dropbutton-action button:active, .js .dropbutton-single .dropbutton-action button:active {
    background: #eeeeee;
    border-radius: 0;
    box-shadow: none; }

.button {
  background-image: none;
  background-color: #1155cc;
  border: none;
  color: #ffffff;
  line-height: 1.15;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  letter-spacing: .02em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 3rem; }
  .button:hover, .button:focus {
    color: #1f2225;
    background-color: #cccccc;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    outline: none; }
  .button:active {
    color: #1f2225;
    background-color: #b3b3b3; }
  .button.warning {
    background-image: none;
    background-color: #1155cc;
    border: none;
    color: #ffffff;
    line-height: 1.15;
    padding: 1.2rem 1.5rem;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    letter-spacing: .02em;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    background: #797501;
    color: #ffffff;
    border-color: #797501;
    height: auto;
    min-width: 115px;
    margin-top: 0; }
    .button.warning:hover, .button.warning:focus {
      color: #1f2225;
      background-color: #cccccc;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -webkit-transform: translateZ(0);
      outline: none; }
    .button.warning:active {
      color: #1f2225;
      background-color: #b3b3b3; }
    .button.warning:hover, .button.warning:focus {
      background: #cccccc;
      border-color: #cccccc;
      color: #1f2225; }
  .button.danger-robinson {
    background-image: none;
    background-color: #1155cc;
    border: none;
    color: #ffffff;
    line-height: 1.15;
    padding: 1.2rem 1.5rem;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    letter-spacing: .02em;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    background: #bf0e0e;
    color: #ffffff;
    border-color: #bf0e0e;
    padding: 0 3rem;
    height: 43px;
    padding: 1rem 1.5rem;
    height: auto; }
    .button.danger-robinson:hover, .button.danger-robinson:focus {
      color: #1f2225;
      background-color: #cccccc;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -webkit-transform: translateZ(0);
      outline: none; }
    .button.danger-robinson:active {
      color: #1f2225;
      background-color: #b3b3b3; }
    .button.danger-robinson:hover, .button.danger-robinson:focus {
      background: #cccccc;
      border-color: #cccccc;
      color: #1f2225; }

.button-outline {
  background-image: none;
  background-color: #1155cc;
  border: none;
  color: #ffffff;
  line-height: 1.15;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  letter-spacing: .02em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background: transparent;
  border: 1px solid #979797;
  color: #1155cc;
  font-weight: 700; }
  .button-outline:hover, .button-outline:focus {
    color: #1f2225;
    background-color: #cccccc;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    outline: none; }
  .button-outline:active {
    color: #1f2225;
    background-color: #b3b3b3; }
  .button-outline:hover, .button-outline:focus {
    background: #cccccc;
    color: #1f2225;
    border-color: #cccccc;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-transform: translateZ(0); }
  .button-outline:active {
    background: #b3b3b3;
    color: #1f2225;
    border-color: #b3b3b3; }

.js .dropbutton-multiple .dropbutton-widget, .js .dropbutton-wrapper .dropbutton-widget, .js .dropbutton-single .dropbutton-widget {
  border-radius: 0;
  text-shadow: none;
  background: #ffffff;
  border: 1px solid #979797;
  min-width: 120px; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button, .js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button, .js .dropbutton-single .dropbutton-widget .dropbutton-toggle button {
    border-left: 1px solid #979797; }

.js .dropbutton-multiple .dropbutton-action a, .js .dropbutton-wrapper .dropbutton-action a, .js .dropbutton-single .dropbutton-action a {
  padding: .25rem 2rem; }

/* ========================
  FIELD
========================== */
.block .field .inline-label {
  font-weight: 700;
  margin-right: .5em; }

/* ========================
  FORM ELEMENTS
========================== */
/* FORM ELEMENTS
------------------ */
input[type="submit"].button {
  background-image: none;
  background-color: #1155cc;
  border: none;
  color: #ffffff;
  line-height: 1.15;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  letter-spacing: .02em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background: #1155cc;
  color: #ffffff;
  padding: 0 3rem;
  height: 43px; }
  input[type="submit"].button:hover, input[type="submit"].button:focus {
    color: #1f2225;
    background-color: #cccccc;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    outline: none; }
  input[type="submit"].button:active {
    color: #1f2225;
    background-color: #b3b3b3; }
  input[type="submit"].button:hover, input[type="submit"].button:focus {
    background: #cccccc;
    border-color: #cccccc;
    color: #1f2225; }

.form-item {
  width: 100%;
  margin-bottom: 3rem; }
  .form-item label {
    font-family: "PT Sans", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #1f2225;
    display: block;
    margin-bottom: 0.5rem;
    padding-bottom: 0; }

.form-required, .js-form-required {
  position: relative; }
  .form-required:after, .js-form-required:after {
    content: '*';
    color: #bf0e0e;
    position: relative;
    top: -1px;
    right: -.5rem; }

input.form-text {
  border: 2px solid #979797;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  padding: 10px 6px 11px;
  width: 100%;
  line-height: 1; }
  input.form-text::-webkit-placeholder {
    opacity: 0.4;
    color: #1f2225; }
  input.form-text::-moz-placeholder {
    opacity: 0.4;
    color: #1f2225; }
  input.form-text:-ms-input-placeholder {
    opacity: 0.4;
    color: #1f2225; }
  input.form-text::-webkit-input-placeholder {
    opacity: 0.4;
    color: #1f2225; }
  input.form-text:focus::-webkit-placeholder {
    opacity: 0.2;
    color: #1f2225; }
  input.form-text:focus::-moz-placeholder {
    opacity: 0.2;
    color: #1f2225; }
  input.form-text:focus:-ms-input-placeholder {
    opacity: 0.2;
    color: #1f2225; }
  input.form-text:focus::-webkit-input-placeholder {
    opacity: 0.2;
    color: #1f2225; }

.description {
  font-size: 1.4rem;
  color: #646569; }

input + .description {
  padding-top: 1rem; }

/* ========================
  BLOCKS
========================== */
/* MESSAGES
-------------- */
.block-system-messages-block > * {
  padding: 6rem 2rem 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.block-system-messages-block div[role="alert"] {
  border: 1px solid #bf0e0e;
  padding: 20px 30px;
  background: rgba(191, 14, 14, 0.03); }

/* ========================
  FOOTER
========================== */
.logged-in footer {
  display: none; }

footer > div {
  background: #eeeeee;
  padding: 10px 2rem;
  min-height: 60px;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: none;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: flex-start;
  -ms-flex-align: start; }
  @media (min-width: 760px) {
    footer > div {
      min-height: 80px; } }
  @media (min-width: 976px) {
    footer > div {
      padding: 10px 3.2rem; } }

/* FOOTER BLOCKS
------------------- */
.block-1 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .logged-in .block-1 {
    max-width: 100%; }
  .block-1 p {
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 0; }
    @media (min-width: 760px) {
      .block-1 p {
        font-size: 1.4rem; } }

/* ========================
  HEADER
========================== */
header > div {
  background: #1f2225;
  color: #ffffff;
  padding: 18px 0 13px; }
  .role-administrator header > div {
    display: none; }
  .logged-in header > div {
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 496; }
    @media (min-width: 760px) {
      .logged-in header > div {
        top: 0;
        z-index: 9999; } }

/* HEADER BLOCKS
----------------- */
.block-system-branding-block {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -ms-flex-align: center; }
  body:not(.logged-in) .block-system-branding-block {
    max-width: 1320px; }
  @media (min-width: 760px) {
    .block-system-branding-block {
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      -ms-flex-direction: row;
      flex-wrap: nowrap;
      -ms-flex-wrap: none;
      justify-content: space-between;
      -ms-flex-pack: justify;
      align-items: center;
      -ms-flex-align: center; } }
  .block-system-branding-block .site-name {
    font-weight: 700;
    display: block; }
    @media (max-width: 759px) {
      .block-system-branding-block .site-name {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem; } }
  .block-system-branding-block .header-actions {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% +  20px); }
    .block-system-branding-block .header-actions > * {
      padding-left: 10px;
      padding-right: 10px; }
    @media (min-width: 760px) {
      .block-system-branding-block .header-actions {
        text-align: right;
        width: calc(100% - 200px);
        display: flex;
        display: -ms-flexbox;
        flex-direction: row;
        -ms-flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: flex-end;
        -ms-flex-pack: end;
        align-items: flex-start;
        -ms-flex-align: start; } }
    .block-system-branding-block .header-actions > div:not(:last-child) {
      position: relative; }
      .block-system-branding-block .header-actions > div:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 15%;
        width: 1px;
        height: 70%;
        background: #ffffff; }
    .block-system-branding-block .header-actions .user-icon {
      width: 14px;
      margin-right: .75rem; }
    .block-system-branding-block .header-actions a {
      color: #ffffff;
      text-decoration: none; }
      .block-system-branding-block .header-actions a:hover, .block-system-branding-block .header-actions a:focus {
        opacity: .6;
        text-decoration: underline; }

/* ========================
  MAIN
========================== */
body.logged-in:not(.role-administrator) main {
  padding-top: 166px; }
  @media (min-width: 600px) {
    body.logged-in:not(.role-administrator) main {
      padding-top: 141px; } }
  @media (min-width: 760px) {
    body.logged-in:not(.role-administrator) main {
      padding-left: 225px;
      padding-top: 56px; } }

@media (min-width: 976px) {
  .role-administrator main {
    padding-left: 225px; } }

body:not(.logged-in) main .layout-content > div {
  min-height: calc(100vh - 151px); }
  @media (min-width: 760px) {
    body:not(.logged-in) main .layout-content > div {
      min-height: calc(100vh - 136px); } }

body:not(.logged-in.path-user) main .layout-content > div {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto; }

/* ========================
  MISC
========================== */
/* NODE DISCLAIMER 
---------------------- */
.node-disclaimer {
  position: fixed;
  z-index: 499;
  top: 200px;
  right: 40px;
  width: 220px;
  border: 2px solid #fcd105;
  background: #f6f6f6;
  padding: 30px 20px;
  box-shadow: 4px 4px 3px rgba(35, 35, 35, 0.2); }
  .node-disclaimer a {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/icons/close-black.svg") no-repeat;
    background-position: center;
    background-size: 13px 13px; }
    .node-disclaimer a:hover, .node-disclaimer a:focus {
      opacity: .6; }
  .node-disclaimer h2 {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    font-size: 2rem;
    text-align: center;
    color: #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    text-transform: uppercase; }
  .node-disclaimer p {
    margin-bottom: 1rem;
    font-size: 1.6rem; }
    .node-disclaimer p:last-child {
      margin-bottom: 0; }
  .node-disclaimer.preview {
    top: 120px;
    width: 200px;
    padding: 30px 15px; }
    .node-disclaimer.preview p {
      font-size: 1.5rem; }

/* ========================
  QUICKLINKS
========================== */
nav#block-quicklinks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 499;
  width: 100%; }
  @media (min-width: 760px) {
    nav#block-quicklinks {
      padding-top: 115px;
      width: 225px;
      overflow: hidden;
      height: 100vh; } }
  .role-administrator nav#block-quicklinks {
    display: none; }
    @media (min-width: 976px) {
      .role-administrator nav#block-quicklinks {
        display: block;
        padding-top: 138px; } }
  nav#block-quicklinks:after {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background: #fcd105;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 498; }
    @media (min-width: 760px) {
      nav#block-quicklinks:after {
        height: 100vh;
        width: 225px; } }
  body:not(.logged-in) nav#block-quicklinks {
    display: none; }
  nav#block-quicklinks .contextual {
    display: none; }
  nav#block-quicklinks ul:not(.contextual-links) {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav#block-quicklinks ul:not(.contextual-links) li {
      list-style-type: none; }
    @media (max-width: 759px) {
      nav#block-quicklinks ul:not(.contextual-links).root-menu {
        display: flex;
        display: -ms-flexbox;
        flex-direction: row;
        -ms-flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: center;
        -ms-flex-pack: center;
        align-items: flex-start;
        -ms-flex-align: start; } }
    @media (min-width: 760px) {
      nav#block-quicklinks ul:not(.contextual-links).root-menu {
        position: relative; } }
    .role-editor:not(.role-site_manager) nav#block-quicklinks ul:not(.contextual-links).root-menu .manager {
      display: none !important; }
    .role-editor:not(.role-administrator) nav#block-quicklinks ul:not(.contextual-links).root-menu .admin, .role-site_manager:not(.role-administrator) nav#block-quicklinks ul:not(.contextual-links).root-menu .admin {
      display: none !important; }
    nav#block-quicklinks ul:not(.contextual-links).root-menu ul {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 501;
      background: #ebc304;
      padding: 10px 0;
      display: none; }
      @media (min-width: 760px) {
        nav#block-quicklinks ul:not(.contextual-links).root-menu ul {
          top: 0;
          left: -310px;
          width: 225px;
          display: block !important; }
          nav#block-quicklinks ul:not(.contextual-links).root-menu ul:after {
            content: '';
            display: block;
            width: 100%;
            height: 200vh;
            position: absolute;
            top: -100vh;
            left: 0;
            background: #fcd105; } }
    nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 {
      padding: 0; }
      @media (min-width: 760px) {
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 {
          padding: 5px 0; } }
      nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 499;
        color: #1f2225;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        text-indent: -9000px; }
        @media (min-width: 760px) {
          nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a {
            text-indent: 0;
            width: 100%;
            height: auto;
            padding: 8px 15px 8px 50px; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a:hover {
          opacity: .7;
          text-decoration: underline; }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.dashboard {
          background-image: url("../images/icons/dashboard.svg");
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: center; }
          .path-user nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.dashboard {
            background-color: #ffffff; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.dashboard {
              background-size: 24px 24px;
              background-position: 15px center; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.content {
          background-image: url("../images/icons/content.svg");
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: center; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.content {
              background-size: 24px 24px;
              background-position: 15px center; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.structure {
          background-image: url("../images/icons/structure.svg");
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: center; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.structure {
              background-size: 24px 24px;
              background-position: 15px center; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.users {
          background-image: url("../images/icons/users.svg");
          background-size: 30px 30px;
          background-repeat: no-repeat;
          background-position: center; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.users {
              background-size: 24px 24px;
              background-position: 15px center; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.services {
          background-image: url("../images/icons/services.svg");
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: center; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.services {
              background-size: 24px 24px;
              background-position: 15px center; } }
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.reports {
          background-image: url("../images/icons/reports.svg");
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: center; }
          @media (min-width: 760px) {
            nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-1 > a.reports {
              background-size: 24px 24px;
              background-position: 15px center; } }
    nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a {
      padding: 8px 2rem;
      display: block;
      color: #1f2225;
      text-decoration: none;
      position: relative;
      z-index: 502; }
      nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a.subtoggle {
        font-size: 2rem;
        font-weight: 700; }
        @media (max-width: 759px) {
          nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a.subtoggle {
            display: none; } }
      nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a:hover, nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a:focus {
        opacity: .6;
        text-decoration: underline; }
      @media (min-width: 760px) {
        nav#block-quicklinks ul:not(.contextual-links).root-menu .item-level-2 > a:not(.subtoggle) {
          padding-left: 45px; } }

/* ========================
  TABLES
========================== */
/* STACKTABLE
---------------- */
.tableresponsive-toggle-columns {
  display: none; }

table {
  width: 100%;
  border-spacing: unset;
  border: 1px solid #979797; }
  table caption {
    font-weight: 700;
    margin-bottom: 1rem; }
  table td {
    padding: .75rem 1.5rem .5rem;
    font-size: 1.6rem; }
    table td:first-child {
      padding-left: 3rem; }
    table td:last-child {
      padding-right: 3rem; }
  table thead th {
    background: #eeeeee;
    color: #1f2225;
    padding: 2rem 1.5rem;
    text-align: left; }
    table thead th:first-child {
      padding-left: 3rem; }
    table thead th:last-child {
      padding-right: 3rem; }
  table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #979797; }
  table tbody tr:nth-of-type(odd) {
    background: #ffffff; }
    table tbody tr:nth-of-type(odd) td {
      color: #1f2225; }
  table tbody tr:nth-of-type(even) {
    background: #ffffff; }
    table tbody tr:nth-of-type(even) td {
      color: #1f2225; }
  table tbody tr th {
    background: #eeeeee;
    color: #1f2225; }
  @media (max-width: 975px) {
    table tbody tr td {
      padding: 1rem 2rem; }
    table tbody tr > td.st-key {
      text-transform: uppercase;
      font-weight: 700; } }
  table .st-key {
    width: 52%;
    max-width: 200px;
    background: #eeeeee; }
  table .st-val {
    min-width: 48%; }
    @media (min-width: 400px) {
      table .st-val {
        width: calc(100% - 200px); } }

.responsive-table > caption {
  display: none; }

.stacktable.large-only {
  display: table; }

.stacktable.small-only {
  display: none; }
  .stacktable.small-only tr {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: none;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: stretch;
    -ms-flex-align: stretch; }

@media (max-width: 975px) {
  .stacktable.large-only {
    display: none; }
  .stacktable.small-only {
    display: table;
    width: 100%;
    margin-bottom: 1rem; }
    .stacktable.small-only td {
      display: inline-block; } }

/* ========================
  USER LOGIN & PASSWORD
========================== */
.user-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem; }
  .user-form h1 {
    text-align: center;
    margin-bottom: 3rem; }
    @media (min-width: 1200px) {
      .user-form h1 {
        font-size: 46px; } }
  .user-form .form-item:not([type="submit"]) {
    max-width: 400px; }
  .user-form .js-form-type-password {
    position: relative; }
    .user-form .js-form-type-password .password-reset {
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 1.5rem; }
    .user-form .js-form-type-password .show-password {
      position: absolute;
      top: 45px;
      right: 12px;
      font-size: 1.4rem;
      color: #767676;
      text-decoration: none; }
      .user-form .js-form-type-password .show-password:hover, .user-form .js-form-type-password .show-password:focus {
        color: #1155cc; }
    .user-form .js-form-type-password input#edit-pass {
      padding-right: 56px; }
    .user-form .js-form-type-password .description {
      padding-top: 1rem; }
  .user-form .description, .user-form p {
    font-size: 1.4rem; }
  .user-form #edit-submit.button {
    margin: 0; }
  .user-form .pass-back {
    float: right;
    margin-top: -25px; }

/* ========================
  NODE PREVIEW
========================== */
/* MODAL NODE PREVIEW */
body.logged-in.responsive-preview-frame .dialog-off-canvas-main-canvas {
  padding-left: 0; }

body.logged-in.responsive-preview-frame .layout-container > header, body.logged-in.responsive-preview-frame .layout-container > footer {
  display: none; }

body.logged-in.responsive-preview-frame .layout-container #block-quicklinks, body.logged-in.responsive-preview-frame .layout-container #block-crane-front-messages {
  display: none; }

/* GENERAL NODES */
.path-node .overflow-guard > .dialog-off-canvas-main-canvas {
  padding-left: 0 !important; }

.path-node .overflow-guard footer {
  display: none; }

.path-node .text-long a, .path-node .text-with-summary a {
  pointer-events: none; }

.path-node .field-caption {
  font-size: 1.6rem;
  color: #646569;
  font-style: italic;
  margin-top: 1rem;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.path-node img {
  width: 100%;
  height: auto;
  display: block; }

/* BASIC PAGES 
----------------- */
.content-type-page {
  /* header */ }
  .content-type-page .field-header.entity-reference-revisions {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-bottom: 4rem;
    text-align: center; }
    .content-type-page .field-header.entity-reference-revisions .field-title {
      line-height: 1.15;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      margin: 0;
      font-size: 32px;
      font-weight: 700;
      position: relative;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
      @media (min-width: 760px) {
        .content-type-page .field-header.entity-reference-revisions .field-title {
          font-size: 46px; } }
      @media (min-width: 1200px) {
        .content-type-page .field-header.entity-reference-revisions .field-title {
          font-size: 60px; } }
      .content-type-page .field-header.entity-reference-revisions .field-title:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: calc(50% - 55px);
        background: #1155cc;
        width: 110px;
        height: 7px;
        margin: 0 auto; }
    .content-type-page .field-header.entity-reference-revisions .field-subheader {
      line-height: 1.15;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      margin: 0;
      font-size: 26px;
      font-weight: normal; }
      @media (min-width: 760px) {
        .content-type-page .field-header.entity-reference-revisions .field-subheader {
          font-size: 29px; } }
      @media (min-width: 1200px) {
        .content-type-page .field-header.entity-reference-revisions .field-subheader {
          font-size: 32px; } }
  .content-type-page .field-prefooter-image {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-bottom: 50px;
    position: relative; }
    .content-type-page .field-prefooter-image:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
      /* FF3.6+ */
      /* Chrome10+,Safari5.1+ */
      /* Opera 11.10+ */
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(35, 156, 74, 0.6) 0%, #99cdbb 100%);
      /* W3C */ }
    @media (min-width: 760px) {
      .content-type-page .field-prefooter-image {
        margin-left: -3.5rem;
        margin-right: -3.5rem; } }
    .content-type-page .field-prefooter-image .field-media-image {
      height: 240px;
      overflow: hidden; }
      .content-type-page .field-prefooter-image .field-media-image img {
        object-fit: cover;
        object-position: center center;
        height: 100%; }
      @media (min-width: 760px) {
        .content-type-page .field-prefooter-image .field-media-image {
          height: 312px; } }
      @media (min-width: 976px) {
        .content-type-page .field-prefooter-image .field-media-image {
          height: 372px; } }

/* PARAGRAPHS */
.field-content.entity-reference-revisions {
  padding-bottom: 4rem; }
  .field-content.entity-reference-revisions > div > .paragraph {
    margin-bottom: 4rem; }
    .field-content.entity-reference-revisions > div > .paragraph > .field-header {
      line-height: 1.15;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      margin: 0;
      font-size: 24px;
      text-align: center;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem; }
      @media (min-width: 760px) {
        .field-content.entity-reference-revisions > div > .paragraph > .field-header {
          font-size: 28px; } }

.paragraph--type--accordion-group {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph--type--accordion-group .field-accordions {
    margoin-bottom: -2rem; }
    .paragraph--type--accordion-group .field-accordions .field-accordion-header {
      line-height: 1.15;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      margin: 0;
      font-size: 22px;
      color: #1155cc;
      margin-bottom: 2rem; }
    .paragraph--type--accordion-group .field-accordions .field-text {
      display: none; }

.paragraph--type--button {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph--type--button .field-buttons {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: calc(100% +  1rem);
    margin-bottom: -2rem; }
    .paragraph--type--button .field-buttons > * {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
    .paragraph--type--button .field-buttons > div {
      margin-bottom: 2rem; }
      .paragraph--type--button .field-buttons > div a {
        background: #1155cc;
        display: block;
        line-height: 1;
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px 35px;
        font-weight: 900;
        font-family: "PT Sans", sans-serif;
        font-size: 1.8rem;
        pointer-events: none;
        text-decoration: none; }

.paragraph--type--horizontal-rule {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #979797; }

.paragraph--type--image {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

.paragraph--type--text {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.paragraph--type--react-component {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph--type--react-component .preview-disclaimer {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: none;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 4rem 6rem;
    min-height: 150px;
    background: #eeeeee; }
    .paragraph--type--react-component .preview-disclaimer > div {
      font-size: 2rem;
      margin-bottom: 2rem; }
    .paragraph--type--react-component .preview-disclaimer .field-components {
      display: inline; }

.paragraph--type--text-with-image {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph--type--text-with-image .ti-wrapper {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% +  30px); }
    .paragraph--type--text-with-image .ti-wrapper > * {
      padding-left: 15px;
      padding-right: 15px; }
    .paragraph--type--text-with-image .ti-wrapper .img-wrapper {
      width: 100%;
      margin-bottom: 2rem; }
      @media (min-width: 760px) {
        .paragraph--type--text-with-image .ti-wrapper .img-wrapper {
          margin-bottom: 0;
          width: 50%; }
          .paragraph--type--text-with-image .ti-wrapper .img-wrapper.right {
            order: 2;
            -ms-flex-order: 2; } }
    .paragraph--type--text-with-image .ti-wrapper .field-text {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 760px) {
        .paragraph--type--text-with-image .ti-wrapper .field-text {
          width: 50%; } }

.paragraph--type--video {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph--type--video .field-media-oembed-video {
    position: relative;
    padding-bottom: 56.25%; }
    .paragraph--type--video .field-media-oembed-video iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/* ========================
  NODE REVISIONS
========================== */
/* REVISIONS ACTIONS */
.revisions-actions {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 20px 0; }
  @media (min-width: 760px) {
    .revisions-actions {
      max-width: 1150px;
      padding: 3rem 35px 0; } }
  .revisions-actions .action-wrapper {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: flex-start;
    -ms-flex-align: start;
    border-bottom: 1px solid #1f2225; }
    .revisions-actions .action-wrapper a {
      margin-right: 2rem;
      margin-bottom: 2rem !important;
      width: 180px; }

.node-revision #block-crane-front-messages {
  display: none; }

.node-revision .is-node {
  padding-top: 6rem; }

/* ========================
  USER DASHBOARD
========================== */
.user-dashboard .layout--tabs {
  max-width: 1840px; }

/* PROFILE INFORMATION
------------------------- */
.block-field-blockuserusername {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 976px; }
  @media (min-width: 976px) {
    .block-field-blockuserusername::after {
      clear: both;
      content: "";
      display: table; } }
  .block-field-blockuserusername .field.name {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: none;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: center;
    -ms-flex-align: center; }
    @media (min-width: 976px) {
      @supports (display: grid) {
        .block-field-blockuserusername .field.name {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 1fr 225px;
          grid-template-columns: 1fr 225px;
          -ms-grid-rows: auto;
          grid-template-rows: auto;
          grid-template-areas: "header sidebar" "middle sidebar" "bottom sidebar"; } } }
  .block-field-blockuserusername h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2rem;
    order: 1;
    -ms-flex-order: 1; }
    @media (min-width: 760px) {
      .block-field-blockuserusername h1 {
        font-size: 4.2rem; } }
    @media (min-width: 976px) {
      @supports (display: grid) {
        .block-field-blockuserusername h1 {
          grid-area: header;
          -ms-grid-column-span: 1;
          -ms-grid-column: 1;
          grid-column: 1 / span 1;
          padding-top: 3rem;
          text-align: left; } } }
  .block-field-blockuserusername .user-image-wrapper {
    width: 225px;
    margin-bottom: 2rem;
    order: 2;
    -ms-flex-order: 2; }
    @media (min-width: 976px) {
      @supports (display: grid) {
        .block-field-blockuserusername .user-image-wrapper {
          grid-area: sidebar;
          -ms-grid-column-span: 1;
          -ms-grid-column: 2;
          grid-column: 2 / span 1; } } }
    .block-field-blockuserusername .user-image-wrapper img {
      border-radius: 50%;
      display: block; }
  .block-field-blockuserusername .user-info {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% +  20px);
    order: 3;
    -ms-flex-order: 3;
    margin-bottom: 3rem; }
    .block-field-blockuserusername .user-info > * {
      padding-left: 10px;
      padding-right: 10px; }
    @media (min-width: 976px) {
      @supports (display: grid) {
        .block-field-blockuserusername .user-info {
          grid-area: middle;
          -ms-grid-column-span: 1;
          -ms-grid-column: 1;
          grid-column: 1 / span 1;
          display: flex;
          display: -ms-flexbox;
          flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          justify-content: flex-start;
          -ms-flex-pack: start;
          align-items: flex-start;
          -ms-flex-align: start; } } }
    .block-field-blockuserusername .user-info > div:not(:last-child) {
      position: relative; }
      .block-field-blockuserusername .user-info > div:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 15%;
        width: 1px;
        height: 70%;
        background: #1f2225; }
    .block-field-blockuserusername .user-info .user-name span:not(:last-child) {
      margin-rigth: .25em; }
    .block-field-blockuserusername .user-info .edit-link a {
      text-decoration: none; }
      .block-field-blockuserusername .user-info .edit-link a:hover, .block-field-blockuserusername .user-info .edit-link a:focus {
        text-decoration: underline; }
  .block-field-blockuserusername .action-buttons {
    order: 4;
    -ms-flex-order: 4;
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    width: calc(100% +  0.8rem); }
    .block-field-blockuserusername .action-buttons > * {
      margin-left: 0.4rem;
      margin-right: 0.4rem; }
    @media (min-width: 976px) {
      @supports (display: grid) {
        .block-field-blockuserusername .action-buttons {
          grid-area: bottom;
          -ms-grid-column-span: 1;
          -ms-grid-column: 1;
          grid-column: 1 / span 1;
          text-align: left;
          display: flex;
          display: -ms-flexbox;
          flex-direction: row;
          -ms-flex-direction: row;
          flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          justify-content: flex-start;
          -ms-flex-pack: start;
          align-items: flex-start;
          -ms-flex-align: start; } } }
    .block-field-blockuserusername .action-buttons > a {
      width: 192px;
      display: block; }

/* CONTENT VIEWS
-------------------- */
@media (max-width: 975px) {
  .views-block.block-user-dashboard {
    padding-top: 1rem; } }

.views-block.block-user-dashboard h2.block-title {
  display: none; }

.views-block.block-user-dashboard .view-empty {
  padding-top: 4rem; }

@media (min-width: 976px) {
  .views-block.block-user-dashboard table {
    border-top: 0; } }

@media (min-width: 976px) {
  .views-block.block-user-dashboard .views-field-title {
    width: calc(100% - 345px); } }

.views-block.block-user-dashboard .views-field-title a {
  text-decoration: none; }
  .views-block.block-user-dashboard .views-field-title a:hover, .views-block.block-user-dashboard .views-field-title a:focus {
    text-decoration: underline; }

@media (min-width: 976px) {
  .views-block.block-user-dashboard.all-recents .views-field-title {
    width: calc(100% - 515px); } }

@media (min-width: 976px) {
  .views-block.block-user-dashboard .views-field-changed {
    width: 170px; } }

@media (min-width: 976px) {
  .views-block.block-user-dashboard .views-field-uid {
    width: 180px; } }

.views-block.block-user-dashboard .views-field-operations.st-val {
  padding-top: .6rem;
  padding-bottom: .5rem; }

@media (min-width: 976px) {
  .views-block.block-user-dashboard .views-field-operations {
    width: 165px !important;
    max-width: 165px; } }

/*# sourceMappingURL=crane-front.css.map */
