
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% extends "block.html.twig" %}

{% block blockContent %}
	{% if site_name %}
		<span class="site-name">{{ site_name }}</span>
	{% endif %}
	<div class="header-actions">
		{% if logged_in %}
			<div class="welcome">
				<img class="user-icon" src="/themes/custom/crane_front/images/icons/profile-icon.svg" alt="user icon" />
				<span>Welcome, <a href="/user">{{ fname.0.value }}</a></span>
			</div>
		{% endif %}
		<div class="visit-site">
			<a class="site-link" href="https://mlsa.netlify.com/" target="_blank">View Website</a>
		</div>
		{% if logged_in %}
			<div class="deploy-site">
				<a class="deploy-link" href="/admin/build_hooks/deployments/live">Deploy Site</a>
			</div>
			<div class="logout">
				<a href="/user/logout">Log out</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
