/* ========================
  MISC FORMS
========================== */
	
/* MENU LINK 
----------------- */
.menu-link-content-form{
	.js-form-type-textfield,.js-form-type-entity-autocomplete{
		input{
			max-width: 320px;
		}
	}
}//END MENU LINK FORM

/* TAXONOMY OVERVIEW
---------------------- */
.taxonomy-overview-terms{
	td{
		a.menu-item__link,& > a[id*="edit-term"]{
			pointer-events: none;
			color: $black;
			font-weight: 700;
			&:hover,&:focus{
				text-decoration: none;
			}
		}
	}
	#edit-actions{
		input.form-submit{
			min-width: 200px;
		}
	}
}//end taxonomy overview

/* TAXONOMY TERMS
------------------- */
.entity-taxonomy_term-edit_form{
	#block-crane-primary-local-tasks{
		display: none;
	}
}
.taxonomy-term-form{
	.js-form-type-textfield{
		input{
			max-width: 402px;
		}
	}
	details.seven-details{
		max-width: 400px;
		margin-bottom: $elementSpace;
	}
}//end taxonomy term form

/* ADD FIELD
----------------- */
.field-ui-field-storage-add-form{
	.select2-container--default{
		min-width: 200px;
	}
}

.js-form-type-textfield input{
		max-width: 240px;
}

/* DELETE CONFIG
-------------------- */
.field-config-delete-form.field-config-confirm-form{
	.seven-details__wrapper{
		.seven-details__description{
			margin-bottom: $spaceMd;
		}
		h3{
			@include heading5;
		}
	}
}

/* VIEWS
--------------------- */
.view-preview-form{
	.js-form-item-live-preview{
		display: none;
	}
}
.views-ui-display-tab-bucket{
	margin-bottom: $spaceXs;
	padding-bottom: $spaceXs;
}
.views-ui-display-tab-bucket .views-display-setting,.views-displays .tabs.secondary a,.views-ui-display-tab-bucket__title{
	font-size: $baseSize - .2rem;
}
.views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > *{
	font-size: $baseSize - .4rem;
}
.views-admin .icon{
	top: 3px;
	margin-right: .25em;
}
.views-displays .tabs .action-list{
	li{
		background: $offWhite;
		&:first-child{
			border-radius: 0;
			padding: 10px 9px 2px;
		}
		&:last-child{
			border-radius: 0;
			padding: 2px 9px 10px;
		}
	}
	input.form-submit.button{
		display: block;
		text-align: left;
	}
}//end tabs action list

/* BLOCK FORM
------------------- */
.path-block{
	.blocks-back{
		display: inline-block;
		margin: $spaceLg 0 -2rem;
	}
	.block-content-form{
		//hide revision information
		.js-form-type-vertical-tabs{
			display: none;
		}
	}//end block content form
}//end path-block

//hide help text from block library
.entity-block_content-collection:not(.role-administrator){
	#block-crane-help{
		display: none;
	}
}

/* BLOCK LAYOUT
------------------ */
.crane .block-admin-display-form{
	table{
		tbody{
			tr.region-title{
				background: $darkGrey;
				padding: .5rem .6em;
				td{
					color: $white;
					.button--small{
						border-color: $white;
						color: $white;
						background: transparent;
						&:hover,&:focus{
							color: $black;
							background: $white;
						}
						&:active{
							color: $black;
							background: $lightGrey;
						}
					}
				}
			}//end region-title
		}//end tbody
	}//end table
}//end block layout admin form

/* USER ADD FORM
-------------------- */
.user-register-form,.user-form{
	.description{
		max-width: $textMax;
	}
	.js-form-type-password-confirm,.js-form-item-current-pass{
		input,.password-strength{
			max-width: 240px;
		}
		.js-form-item-pass-pass2{
			margin-bottom: 0;
		}
	}
	#edit-status--wrapper{
		margin-bottom: 0;
	}
	#edit-entity-options{
		.crane:not(.role-administrator) &{
			display: none;
		}
	}
	#edit-actions{
		.form-submit{
			min-width: 175px;
		}
	}
}//end user register form

/* MEDIA FORMS
-------------- */
.media-form{
	.form-actions{
		border-top: 1px solid $lightGreyAlt;
		padding-top: $spaceMd;
	}
	.vertical-tabs{
		display: none;
	}
}//end media forms

/* MODULES
-------------- */
.system-modules{
	.package-listing{
		.seven-details__summary{
			background: $midGrey;
			color: $white;
			text-shadow: none;
			&:hover,&:focus{
				color: $black;
				background: $buttonBackHover;
			}
		}//end seven details summary
		tr{
			border-bottom: 0;
		}
		td:last-child{
			border-bottom: 1px solid $rowBorder;
		}
	}//end package-listing
}//end system modules


/* DEPLOYMENT FORM
-------------------- */
#deployment-form{
	.deploy-counter{
		margin-bottom: $spaceSm;
		span{
			color: $green;
		}
	}
	.view-build-hooks-editing-log{
		.pager{
			&:not(.views-ui-display-tab-bucket){
				.pager__items{
					width: 100%;
					min-height: auto;
					background: transparent;
					.pager__item{
						margin: 0 10px;
						a{
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
	.seven-details__wrapper table{
		margin: $spaceSm 0;
	}
	#edit-refresher{
		background: $green;
		&:hover,&:focus{
			background: $buttonBackHover;
		}
		&:active{
			background: $buttonBackActive;
		}
	}
}


