/* ========================
  NODE FORMS
========================== */

.node-form,.node-confirm-form{
	/* layout
	----------- */
	.layout-node-form{
		max-width: $largeScreen;
		& > .layout-region{
			float: none;
			width: 100%;
		}
	}//end layout node form

	/* hide entity meta
	------------------ */
	.entity-meta{
		display: none;
	}

	/* node specific form elements
	---------------------------- */
	.form-textarea-wrapper{
		max-width: $textMax;
	}

}//end node form