/* ========================
  VIEWS
========================== */
.vbo-view-form,.media-library-views-form{
	& > #edit-actions{
		display: none;
	}
}
.views-exposed-form{
	#views-filter-wrapper{
		background: $midGrey;
		padding: 1px $spaceSm;
		margin-bottom: $spaceMd;
	}
	.form--inline{
		@include safeFlex(row,wrap,start,end);
		@include bleed(padding,10px);
		& > .form-item{
			width: 100%;
			margin-bottom: $spaceSm;
			margin-right: 0;
			label{
				color: $white;
			}
			.select2-container--default{
				.crane &{
					width: 100% !important;
				}
			}
			@include smallTab{
				max-width: 240px;
			}
		}//end form item
		#edit-actions{
			margin: 0;
			width: 260px;
			input{
				margin-bottom: $spaceSm;
			}
		}
	}//end form inline
}//end views exposed form

/* VIEWS BULK OPERATIONS
----------------------- */
#bulk-operations-wrapper > *{
	@include safeFlex(row,wrap,start,center);
	margin-bottom: $spaceMd;
	.form-item{
		width: auto;
		margin-right: 2rem;
		margin-top: 0;
		margin-bottom: $spaceXs;
	}
	.js-form-item-action{
		label{
			@include visuallyHidden;
		}
		.crane &{
			.select2-container--default .select2-selection--single{
				min-width: 200px;
			}
		}
	}
	.js-form-item-select-all{
		+ .form-actions{
			width: 100%;
		}
	}
	.vbo-multipage-selector{
		display: none;
	}
	.form-actions{
		margin: 0;
		input{
			margin-bottom: $spaceXs;
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
}//end vbo form-wrapper

/* VIEWS TABLE
----------------- */
.views-table{
	.crane &{
		td.views-field-operations{
			padding: .75rem 1.5rem;
			.dropbutton-widget{
				min-width: 120px;
			}
		}
	}
}

/* VIEWS UI
----------------- */
.views-ui-display-tab-bucket{
	.views-ui-display-tab-bucket__title{
		margin-bottom: $spaceXs;
	}
}
.views-ui-dialog{
	.views-override.form--inline{
		.js-form-item-override-dropdown{
			max-width: 175px;
		}
		.js-form-item-override-controls-options-search{
			max-width: 240px;
		}
	}
	.ui-dialog-buttonset{
		button{
			margin-right: 2rem !important;
			min-width: 185px;
			&:not(.button--primary):not(.button--danger){
				@include cautionButton;
				min-width: 185px;
			}
			&.button--danger:not(.image-button){
				min-width: 185px;
			}
		}
	}
}//end views ui dialog


/* ==================
  SPECIFIC VIEWS
===================== */

/* USERS LIST
---------------- */
.view-user-admin-people{
	.views-exposed-form{
		.form--inline{
			& > .form-item-status{
				max-width: 120px;
			}
			& > .form-item-role{
				max-width: 140px;
			}
		}
	}//end views exposed form
	.view-content{
		//hide duplicate bulk operations button
		.views-table ~ .form-actions{
			display: none !important;
		}
		.views-field-user-picture{
			img{
				width: 50px;
				border-radius: 50%;
			}
		}
	}
}//end user admin people


/* REDIRECTS LIST
--------------------- */
.view-redirect{
	.view-content{
		//hide duplicate bulk operations button
		.views-table ~ .form-actions{
			display: none !important;
		}
	}
}//end redirect view

/* CONTENT VIEWS
------------------ */
.view-id-content{
	.views-table{
		*{
			box-sizing: border-box;
		}
		.views-field-changed{
			max-width: 140px;
		}
		.views-field-operations{
			max-width: 120px;
		}
	}
}//end content views

//media
.crane .media-library-select-all{
	margin: $spaceXs 8px;
	font-size: 1.6rem;
}//end media library select all

/* RECENT LOG MESSAGES
------------------------ */
.admin-dblog{
	.dblog-error{
		.icon{
			background-image: url('../images/icons/message/message-error.svg');
			background-size: 16px 16px;
		}
	}
	.dblog-warning{
		.icon{
			background-image: url('../images/icons/message/message-warning.svg');
			background-size: 16px 16px;
		}
	}
}


