/* ========================
   COLORS
========================== */
$white        : #ffffff;
$offWhite     : #f6f6f6;
$lightGrey    : #ededed;
$midGrey      : #676767;
$darkGrey     : #4a4a4a;
$black        : #121212;
$red          : #bf0e0e;
$darkBlue     : #323b49;

/* COMPONENT COLORS
----------------- */
$siteBack: $white;
$baseText: $black;