/* ========================
   COLORS
========================== */
$white        : #ffffff;
$offWhite     : #f6f6f6;
$lightGrey    : #eeeeee;
$lightGreyAlt : #979797;
$grey         : #cccccc;
$contrastGrey : #767676;
$midGrey      : #646569;
$darkGrey     : #4a4a4a;
$black        : #1f2225;
$red          : #bf0e0e;
$gold         : #fcd105;
$green        : #018901;
$tan          : #8e700b;
$fuchsia      : #c028bb;
$darkFuchsia  : #5d025a;
$blueGrey     : #dce7f3;
$blue         : #1155cc;
$midBlue      : #2c5580;
$darkBlue     : #323b49;
$purple       : #8b01e2;

$transBlack   : rgba(35,35,35,0.7);
$transRed     : rgba(191,14,14,0.03);
$transFuchsia  : rgba(192,40,187,0.03);
$transGold     : rgba(252,217,1,0.06);
$transGreen    : rgba(1,185,1,0.05);

/* COMPONENT COLORS
----------------- */
$siteBack     : $white;
$baseText     : $black;
$borderRule   : $lightGreyAlt;
$link         : $blue;
$hoverLink    : $midGrey;
$buttonBack        : $link;
$buttonText        : $white;
$buttonBackHover   : $grey;
$buttonTextHover   : $black;
$buttonBackActive  : darken($grey, 10%);
$buttonTextActive  : $black;
$primaryButtonBack : $blue;
$primaryButtonText : $white;
$primaryBackHover  : $grey;
$primaryTextHover  : $black;
$primaryBackActive : darken($grey, 10%);
$primaryTextActive : $black;
$submitBack        : $blue;
$submitText        : $white;
$submitBackHover   : $grey;
$submitTextHover   : $black;
$resetBack         : $fuchsia;
$resetText         : $white;
$resetBackHover    : $grey;
$resetTextHover    : $black;
$cautionBack       : $purple;
$cautionText       : $white;
$cautionBackHover  : $grey;
$cautionTextHover  : $black;

$formElementBorder        : $borderRule;
$placeColor               : $baseText;
$placeFocusColor          : $placeColor;
$validation               : $red;
$checkBox                 : $link;
$checkBoxHover            : $black;
$checkBoxBackHover        : $transBlack;
$checkBoxChecked          : darken($checkBox, 5%);
$checkBoxCheckedBack      : $transBlack;
$checkBoxCheckedBackHover : $black;
$selectArrow              : $midGrey;
$selectHighlight          : $link;

$quickLinkBar             : $gold;

$tableHeaderBack     : $lightGrey;
$tableHeaderBorder   : $tableHeaderBack;
$tableHeaderText     : $black;
$rowBorder           : $borderRule;
$oddRowBack          : $siteBack;
$oddRowText          : $black;
$evenRowBack         : $siteBack;
$evenRowText         : $black;




