/* ========================
   FONTS
========================== */

/* FAMILIES
-------------- */
$headerFont: mr-eaves-sans, sans-serif;
$bodyFont: freight-sans-pro, sans-serif;

/* WEIGHTS
------------- */
$xHeavy: 800;
$heavy: 700;
$regular: 400;
$book: 300;

/*  SIZES
-------------------- */
$baseSize: 1.6rem;
$formLabel: 2.2rem;
$button: 1.5rem;