/* ========================
  GLOBAL
========================== */
body{
	background: $siteBack;
	width: 100%;
	box-sizing: border-box;
	& > .overflow-guard{
		overflow-x: hidden;
		width: 100%;
	}
	div{
		box-sizing: border-box;

		*{
			box-sizing: inherit;
		}
	}
	.dialog-off-canvas-main-canvas{
		& > .layout-container{
			padding-top: 0;
		}
	}
	&.logged-in:not(.responsive-preview-frame){
		.dialog-off-canvas-main-canvas{
			@include tab{
				padding-top: 0;
			}
		}
		&.role-administrator{
			.dialog-off-canvas-main-canvas{
				padding-top: 0;
				padding-left: 0;
			}
		}
	}
	&:not(.role-administrator){
		#toolbar-administration{
			display: none !important;
		}
		&.toolbar-tray-open.toolbar-vertical{
			padding-top: 0 !important;
			&.toolbar-fixed{
				margin-left: 0;
			}
		}
	}
}//end body

#block-crane-front-help{
	padding: $elementSpace 0;
	max-width: $contentStop;
	@include auto;
}

#block-crane-front-content{
	padding: $elementSpace $siteMarginMobile;
	width: 100%;
	@include desk{
		padding: $elementSpace $siteMarginDesk;
	}
	.responsive-preview-frame &{
		& > article{
			padding: 3rem 2rem 5rem;
			@include tab{
				padding: 3rem 3.5rem 5rem;
			}
		}
	}
}

/* KINTING
-------------- */
.kint{
	position: fixed;
	z-index: 9999;
	top: 200px;
	right: 5%;
	width: 90%;
	max-width: 800px;
	@include calc(max-height, "90% - 200px");
	overflow: scroll;
}

/* =============
	MESSAGING
================ */
.drupal-message {
	margin: 2rem auto;
	padding: 10px 10px 10px 50px; /* LTR */
	background-color: $white;
	background-image: url("../images/message-24-ok.png");
	background-position: 8px 8px; /* LTR */
	background-repeat: no-repeat;
	border: 1px solid #be7;
	max-width: $contentStop;
}

.messages--status {
	@extend .drupal-message;
	background-color: #f8fff0;
	color: #234600;
}
.messages--warning {
	@extend .drupal-message;
	background-color: #fffce5;
	color: #840;
	background-image: url("../images/message-24-warning.png");
	border-color: #ed5;
}
.messages--error {
	@extend .drupal-message;
	background-color: #fef5f1;
	color: #8c2e0b;
	background-image: url("../images/message-24-error.png");
	border-color: #ed541d;
}
.messages__list {
	margin: 0;
}
.messages__item {
	list-style-image: none;
}

/* GIN TOOLBAR
----------------- */
//fix rem usage of flyout menu sub items from Gin toolbar
#gin-toolbar-bar{
	body.gin--vertical-toolbar &{
		.toolbar-menu-administration{
			& > .toolbar-menu{
				& > .menu-item{
					&.menu-item--active-trail > .toolbar-icon::after,&:hover > .toolbar-icon::after{
						left: calc(50% - 26px);
					}
					.toolbar-menu{
						.menu-item{
							.toolbar-icon{
								font-size: 16px;
							}
							&.menu-item--expanded{
								&:before{
									top: .75rem;
								}
							}
						}
					}
				}//end menu item
			}//end top level toolbar menu (icons)
		}//end toolbar administration
		//
	}//end gin vertical toolbar

}//end gin toolbar
//fix responsive preview in gin secondary
.gin-secondary-toolbar{
	#responsive-preview-toolbar-tab{
		button{
			margin-bottom: 0;
			&.responsive-preview-icon{
				font-size: 14px;
			}
		}
		ul.responsive-preview-options{
			button.responsive-preview-device{
				font-size: 12px;
			}
		}
		a.responsive-preview-configure{
			font-size: 10px;
		}
	}//end responsive preview toolbar tab
}//end gin secondary toolbar